= link_to favorite_path(current_user, list_id: list.id), method: :delete, remote: true do
    = button_tag :type => "button", :class =>"btn unfavorite btn__favorite__square" do
        %i.material-icons star
        お気に入り
