= render :partial => "users/show/show_header"

.sc
  .l-tabbox
    .mylist_area
      - if @mylist != nil and not @mylist.empty?
          = render "lists/list", lists: @mylist_pages, customer: @customer
      -if @mylist_pages != nil
        #mylist_paginator
          = paginate @mylist_pages, param_name: 'mylist_page', :remote => true