- purchases.each_with_index do |purchase, i|
  .list__purchase
    .purchase__time
      %span= purchase.created_at.strftime('%Y/%m/%d')
    .purchase__content
      %span.list__title= link_to trun_str(purchase.list.title, 21), list_path(purchase.list) , class: "testclass"
      %span.list__star
        %i.material-icons star
        = purchase.list.list_favorites.count
      %span.list__author= link_to trun_str(purchase.list.user.name, 23), users_playlist_path(purchase.list.user)

