= render "users/show_header"

.l__tabbox__account
  - if is_signin && is_signed(current_user.id, @user.id)
    .favuser_area
      - if @favuser != nil and not @favuser.empty?
        = render "users/user", users: @favuser_pages
      -else
        .no_playlist
          フォロー中ユーザーはいません
      -if @favuser_pages != nil
        #favuser_paginator
          = paginate @favuser_pages, param_name: 'favuser_page'
  -else
    .sc
      .no_playlist
        フォロー中ユーザーはいません