%div
  %h3
    フォロー (#{@relationship})
  - if @relationship.nil?
  - else
    %ol.follow
      - @following.each do |fw|
        %li.col-md-12{:id => "following-#{fw.id}"}
          // = link_to gravatar_for(current_user, size: 50), fw
          =link_to(fw) do
            %span.name= fw.name
