.l__payment
  %h2 決済設定


  .l__disc
    %h3 Stripeとの連携
    %hr
    .l__innertext
      %p 
        %a{href: 'https://stripe.com', target: "_blank"} Stripe社(ストライプ)
        は、個人や企業がインターネットを通して料金を受納する方法を提供するサービスを提供している企業です。
      %p Facebook、Twitterといった大手サービスでも採用されている世界最大手のオンライン決済サービスです。
      %p あなたがStripeのアカウントを作成すれば、StarListzと連携させてプレイリストの収益を受け取っていただくことが出来るようになります。
      %p.attention ※StarListzとStripeアカウントを連携させなければ収益の受け取りが出来ないため、作成したプレイリストは非公開となります。
      %img{:src => "/images/visa.png"}
      %img{:src => "/images/mastercard.png"}
      %img{:src => "/images/americanExpress.png"}
      %p 下の「決済代行サービス「Stripe」アカウントを作成/連携する」からStripeのアカウントを作成します。あるいはすでにお持ちのStripeアカウントと連携させます。
      %p Stripe連携を行いStarListzでプレイリストを公開しましょう！
    
    - if @stripe_email.nil?
      .l__btn
        = link_to "「Stripe」アカウントを作成/連携する", stripe_url_header(current_user) ,class: "btn"
        
      .l__stripeinfo.failed
        %h4 連携中Stripeアカウント情報
  
        %table
          %tbody
            %tr
              %td メールアドレス
              %td 未連携
            %tr
              %td プレイリスト公開情報
              %td.state 非公開
    
    -else
      .l__btn
        = link_to "「Stripe」アカウントを連携し直す", stripe_url_header(current_user) ,class: "btn"
        
      .l__stripeinfo.success
        %h4 連携中Stripeアカウント情報
        .pull__right
          %p Stripe
          = link_to "ダッシュボードへ", "https://dashboard.stripe.com/dashboard", target: "_blank"
          
        %table
          %tbody
            %tr
              %td メールアドレス
              %td= @stripe_email
            %tr
              %td プレイリスト公開情報
              %td.state 公開中

    