.l__payment_info
  %h2 お支払い方法
  
  .l__payment_info__inner
    .container
      .row
        -if @credit_card.nil?
          .col-sm{:style => "margin-right:20px;"}
            カードが設定されていません
        -else
          .col-sm{:style => "margin-right:20px;"}
            =@credit_card.brand
          .col-sm{:style => "margin-right:20px;"}
            =@credit_card.last4
          .col-sm
            =@credit_card.exp_month.to_s + "/" + @credit_card.exp_year.to_s[2, 2]
    
    
    // = form_tag users_stripe_update_path do
    //   = hidden_field_tag :authenticity_token, form_authenticity_token
    //   = hidden_field_tag :stripeToken
    //   .form-row
    //     %label{:for => "card-element"}
    //       Credit or debit card
    //     #card-element
    //       A Stripe Element will be inserted here.
    //     Used to display form errors.
    //     #card-errors{:role => "alert"}
    //   %button Submit Payment
    
    %form#payment-form{:action => "/users/stripe_update", :method => "post"}
      = hidden_field_tag :authenticity_token, form_authenticity_token
      = hidden_field_tag :flg, "card"
      .form-row
        %label{:for => "card-element"}
        #card-element
          A Stripe Element will be inserted here.
        #card-errors{:role => "alert"}
      %button.submit 更新
    
    // %form
    //   #example4-paymentRequest
    //     / Stripe paymentRequestButton Element inserted here
    //   %fieldset
    //     %legend.card-only{"data-tid" => "elements_examples.form.pay_with_card"} Pay with card
    //     %legend.payment-request-available{"data-tid" => "elements_examples.form.enter_card_manually"} Or enter card details
    //     .container
    //       #example4-card
    //       %button{"data-tid" => "elements_examples.form.donate_button", :type => "submit"} Donate
    //   .error{:role => "alert"}
    //     %span.message


:javascript
  // Create a Stripe client

  var stripe = Stripe($('meta[name="stripe-key"]').attr('content'));

  // Create an instance of Elements
  var elements = stripe.elements();

  // Custom styling can be passed to options when creating an Element.
  // (Note that this demo uses a wider set of styles than the guide below.)
  var style = {
    base: {
      color: '#32325d',
      lineHeight: '24px',
      fontFamily: 'Helvetica Neue',
      fontSmoothing: 'antialiased',
      fontSize: '16px',
      '::placeholder': {
        color: '#aab7c4'
      }
    },
    invalid: {
      color: '#fa755a',
      iconColor: '#fa755a'
    }
  };

  // Create an instance of the card Element
  var card = elements.create('card', {style: style});

  // Add an instance of the card Element into the `card-element` <div>
  card.mount('#card-element');

  // Handle real-time validation errors from the card Element.
  card.addEventListener('change', function(event) {
    const displayError = document.getElementById('card-errors');
    if (event.error) {
      displayError.textContent = event.error.message;
    } else {
      displayError.textContent = '';
    }
  });

  // Handle form submission
  var form = document.getElementById('payment-form');
  form.addEventListener('submit', function(event) {
    event.preventDefault();

    stripe.createToken(card).then(function(result) {
      if (result.error) {
        // Inform the user if there was an error
        var errorElement = document.getElementById('card-errors');
        errorElement.textContent = result.error.message;
        console.log(result.error.message);
      } else {
        // Send the token to your server
          alert(JSON.stringify(result.token));
          console.log(JSON.stringify(result.token));

    // Insert the token ID into the form so it gets submitted to the server

    var form = document.getElementById('payment-form');
    var hiddenInput = document.createElement('input');
    hiddenInput.setAttribute('type', 'hidden');
    hiddenInput.setAttribute('name', 'stripeToken');
    hiddenInput.setAttribute('value', result.token.id);
    form.appendChild(hiddenInput);
    alert(result.token.id);
    alert('submitting form');
    // Submit the form
    form.submit();

      }
    });
  });

