// -binding.pry
// = search_form_for @q do |f|
//   %p
//     = f.label :name_cont, '名前'
//     = f.search_field :name_cont
//   = f.submit
// = form_tag(url_for(:action => 'genre'), :remote => true) do
//   = text_field_tag :search
//   = submit_tag "検索"

%table
  - if @tag then
    - @tag.each do |student|
      %tr
        %td
          = student.name

  