- set_meta_tags title: "運営概要"


.l__about
    %h2.content-title 運営概要
    %h3 屋号
    %p StarListz

    %h3 住所
    %p=Constants::COMPANY_ADDRESS

    %h3 代表者
    %p 池田　貴尚

    %h3 事業内容
    %p インターネットサービスの企画・開発・運営

    %h3 メールアドレス
    %p=Constants::SUPPORT_MAIL

    %h3 電話番号
    %p=Constants::COMPANY_TELL


