/ Banner
%section#banner
  /
    ".inner" is set up as an inline-block so it automatically expands
    in both directions to fit whatever's inside it. This means it won't
    automatically wrap lines, so be sure to use line breaks where
    appropriate (<br />).
  .overlay
  .inner

    %header
      %h2 少年よ、大志を抱け

    %p
      STARLSITZへようこそSTARLSITZへようこそ
      %br/
      STARLSITZへようこそSTARLSITZへようこそ
      %br/
      STARLSITZへようこそSTARLSITZへようこそ
      %br/
    %footer
      %a.button{:href => "#main"} はじめる

.l-wrapper
  %section.genre
    .container-fluid.l-container
      .row
        .col-sm-8s
          %ul
            - @genre.each do |genre|
              %li
                = link_to genre.name, chart_path(genre: genre.name, sort: Constants::SORT)

        .col-sm-4.text-center
          = link_to "ジャンルを探す", genre_path, { :class => "button" }

    .content-area
      %h1.content-title Newプレイリスト
      .span8
        // - @newlist.each do |list|
        //   = render list, list: list
        = render "lists/list", lists: @newlist

= render :partial => "layouts/footer"
