/ Banner
%section#banner
  /
    ".inner" is set up as an inline-block so it automatically expands
    in both directions to fit whatever's inside it. This means it won't
    automatically wrap lines, so be sure to use line breaks where
    appropriate (<br />).
  .inner
    %header
      %h2 STARLSITZへようこそ
    %p
      This is
      = succeed "," do
        %strong Twenty
      %br/
      responsive template
      %br/
      by
      = succeed "." do
        %a{:href => "http://html5up.net"} HTML5 UP
    %footer
      %ul.buttons.vertical
        %li
          %a.button.fit.scrolly{:href => "#main"} Tell Me More
.content-wrapper
  .content-container
    .content-area
      %h1.content-title ジャンル
      .row
        - @genre.each do |genre|
          .col-lg-3.col-md-3.col-sm-4.col-xs-4.genre-item
            %a{:href => "#"}
              %p= genre.name
    .content-area
      %h1.content-title Newプレイリスト
      .span8
        - @newlist.each do |list|
          // -binding.pry
          .newlist
            .inner-list
              -# .title
              -#   %h2
              -#     .favorite
              -#       %span.author>= list.user.name
              -#       %span.favorite-star
              -#         %i.fa.fa-star.fa-favorite{"aria-hidden" => "true"}
              -#         = list.list_favorites.count
              -#     = list.name
              -# %p= list.description
              -# .list-genre
              -#   .more.label
              -#     %a{:href => "#"} もっと見る
              -#   .tags
              -#     - list.list_genres.each.with_index(0) do |listgenre, i|
              -#       %span.btn-info
              -#         %a{:href => "#"}= list.list_genres[i][:name]

              .clear
            %hr/

    / Main
    %article#main
      // %header.special.container
      //   %span.icon.fa-bar-chart-o
      //   %h2
      //     As this is my
      //     %strong twentieth
      //     freebie for HTML5 UP
      //     %br/
      //     I decided to give it a really creative name.
      //   %p
      //     Turns out
      //     %strong Twenty
      //     was the best I could come up with. Anyway, lame name aside,
      //     %br/
      //     it's minimally designed, fully responsive, built on HTML5/CSS3/
      //     %strong> skel
      //     ,
      //     and, like all my stuff,
      //     %br/
      //     released for free under the
      //     %a{:href => "http://html5up.net/license"} Creative Commons Attribution 3.0
      //     license. Have fun!
      // / One
      // %section.wrapper.style2.container.special-alt
      //   .row{:class => "50%"}
      //     .8u{:class => "12u(narrower)"}
      //       %header
      //         %h2
      //           Behold the
      //           %strong icons
      //           that visualize what you’re all about. or just take up space. your call bro.
      //       %p Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu comteger ut fermentum lorem. Lorem ipsum dolor sit amet. Sed tristique purus vitae volutpat ultrices. eu elit eget commodo. Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo.
      //       %footer
      //         %ul.buttons
      //           %li
      //             %a.button{:href => "#"} Find Out More
      //     .4u{:class => "12u(narrower) important(narrower)"}
      //       %ul.featured-icons
      //         %li
      //           %span.icon.fa-clock-o
      //             %span.label Feature 1
      //         %li
      //           %span.icon.fa-volume-up
      //             %span.label Feature 2
      //         %li
      //           %span.icon.fa-laptop
      //             %span.label Feature 3
      //         %li
      //           %span.icon.fa-inbox
      //             %span.label Feature 4
      //         %li
      //           %span.icon.fa-lock
      //             %span.label Feature 5
      //         %li
      //           %span.icon.fa-cog
      //             %span.label Feature 6
      // / Two
      // %section.wrapper.style1.container.special
      //   .row
      //     .4u{:class => "12u(narrower)"}
      //       %section
      //         %span.icon.featured.fa-check
      //         %header
      //           %h3 This is Something
      //         %p Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.
      //     .4u{:class => "12u(narrower)"}
      //       %section
      //         %span.icon.featured.fa-check
      //         %header
      //           %h3 Also Something
      //         %p Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.
      //     .4u{:class => "12u(narrower)"}
      //       %section
      //         %span.icon.featured.fa-check
      //         %header
      //           %h3 Probably Something
      //         %p Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.
      // / Three
      // %section.wrapper.style3.container.special
      //   %header.major
      //     %h2
      //       Next look at this
      //       %strong cool stuff
      //   .row
      //     .6u{:class => "12u(narrower)"}
      //       %section
      //         %a.image.featured{:href => "#"}
      //           %img{:alt => "", :src => "images/pic01.jpg"}/
      //         %header
      //           %h3 A Really Fast Train
      //         %p Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.
      //     .6u{:class => "12u(narrower)"}
      //       %section
      //         %a.image.featured{:href => "#"}
      //           %img{:alt => "", :src => "images/pic02.jpg"}/
      //         %header
      //           %h3 An Airport Terminal
      //         %p Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.
      //   .row
      //     .6u{:class => "12u(narrower)"}
      //       %section
      //         %a.image.featured{:href => "#"}
      //           %img{:alt => "", :src => "images/pic03.jpg"}/
      //         %header
      //           %h3 Hyperspace Travel
      //         %p Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.
      //     .6u{:class => "12u(narrower)"}
      //       %section
      //         %a.image.featured{:href => "#"}
      //           %img{:alt => "", :src => "images/pic04.jpg"}/
      //         %header
      //           %h3 And Another Train
      //         %p Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.
      //   %footer.major
      //     %ul.buttons
      //       %li
      //         %a.button{:href => "#"} See More

= render :partial => "layouts/footer"
