
%section#banner
  /
    ".inner" is set up as an inline-block so it automatically expands
    in both directions to fit whatever's inside it. This means it won't
    automatically wrap lines, so be sure to use line breaks where
    appropriate (<br />).
  .overlay
  .inner

    %header
      %h2 すべてのプレイリストには価値がある

    %p
      無料登録をしてプレイリストを投稿してみよう！
    
    - if !user_signed_in?
      %footer
        = link_to "無料登録する", new_user_registration_path,{ class: "button" }

- if user_signed_in?
  %section.genre
  .container-fluid.sc
    %h2.ntm ジャンルTOP10
    %ul.bigblock
      - @genre.each do |genre|
        %li
          = link_to trun_str(genre.name, 30), chart_path(genre: genre.name, sort: Constants::SORT)

  .container-fluid.sc
    %h2.ntm NEWプレイリスト
    .outer-cardlist
      = render "lists/list", lists: @newlist, customer: @customer

- else

  %section.top__copy
    %h2 StarListzとは？
    %p あなたが好きな曲や思い入れのある曲たちに説明を加え誰でも公開出来るサービスです。
  
  
  %section.top__discription
    .container-fluid.sc
      .l__block
        %img.l__l{:src => "/images/tp-scene-private.jpg"}
        .l__r
          %h2 みんなが普段聞いてきた曲が知れる
          %p 「普段どんな曲を聴いているんだろう」
          %p 「どんな曲を聴いて影響を受けているんだろう」
          %p 意外と知らないみんなが普段聞いている曲を知ることができます。
        
    .container-fluid.sc
      .l__block
        %img.l__r{:src => "/images/tp-scene-root.jpg"}
        .l__l
          %h2 みんなのルーツに近づける
          %p 曲にいつ、どうやって出会ったか、
          %p 何を感じたかを見ることで
          %p みんなの深いところまで知ることができます。
        
    .container-fluid.sc
      .l__block
        %img.l__l{:src => "/images/tp-scene-funn.jpg"}
        .l__r
          %h2 違う音楽の楽しみ方がある
          %p みんなの曲への気持ちから
          %p 知らない曲への興味が湧き、
          %p 聴くのとは違う形の楽しみ方があります。
  
  
  %section.top__sample
    %h2 サンプル
    %p.sample_p 実際のプレイリストがこちらです。
    .sc
      .outer__cardList
        .l__cardList
          / /まだ購入していないプレイリスト
          = link_to samplelist_path do
            .cardList__img
              %img{:alt => "Thumb", :src => "//s3.amazonaws.com/starlistz-bucket-prod/images/2/thumb.jpg?1543994708"}/
            .cardList__text
              %span.listtitle
                StarListz ベストプレイリスト
              %span.author
                sample_starlistz
              %p
                これはサンプルのリストです。
              .tags
                %span.l__playlist.genretag
                  sample
                %span.l__playlist.genretag
                  playlist
              .l__footerPrice
                %span.favoriteStar
                  %i.material-icons
                    star_rate
                  0
                %span.listprice
                  無料
  
  %section.top__question
    %h2 よくある質問
    .l__q
      %p Q. 誰でもプレイリストを作成してもいいですか？
    .l__a
      %p A. はい。誰でも作成して大丈夫です。
    .l__q
      %p Q. プレイリストの曲は聞けますか？
    .l__a
      %p A. 現状は楽曲を再生することはできません。
      %p 気になった曲があればお使いのストリーミングサービス等でチェックしてみてください。
    .l__q
      %p Q. 有料でプレイリストの販売は可能ですか？
    .l__a
      %p A. はい、プレイリストは100円～価格を設定できます。


