/ Banner
%section#banner
  /
    ".inner" is set up as an inline-block so it automatically expands
    in both directions to fit whatever's inside it. This means it won't
    automatically wrap lines, so be sure to use line breaks where
    appropriate (<br />).
  .overlay
  .inner

    %header
      %h2 あの人のいつもの曲が、よくわかる。

    %p
      上司のゴマすり、二次会カラオケ、ナンパにお仕事中。
      %br/
      みんなの好きな音楽で、ちょっとおいしい明日に。
      
    %footer
      %a.button{:href => "#main"} 無料登録する

.l-wrapper
  %section.genre
    .container-fluid.l-container
      .row
        .col-sm-8s
          %ul
            - @genre.each do |genre|
              %li
                = link_to genre.name, chart_path(genre: genre.name, sort: Constants::SORT)

        .col-sm-4.text-center
          = link_to "ジャンルを探す", genre_path, { :class => "button" }

    .container-fluid.l-container
      %h2.content-title NEW PLAYLIST
      .span8
        // - @newlist.each do |list|
        //   = render list, list: list
        = render :partial => "lists/list", locals: {lists: @newlist, flg: false}

= render :partial => "layouts/footer"
