/ Banner
%section#banner
  /
    ".inner" is set up as an inline-block so it automatically expands
    in both directions to fit whatever's inside it. This means it won't
    automatically wrap lines, so be sure to use line breaks where
    appropriate (<br />).
  .overlay
  .inner

    %header
      %h2 あの人のいつもの曲が、よくわかる。

    %p
      上司のゴマすり、二次会カラオケ、ナンパにお仕事中。
      %br/
      みんなの好きな音楽で、ちょっとおいしい明日に。
    
    - if !user_signed_in?
      %footer
        = link_to "無料登録する", new_user_registration_path,{ class: "button" }


%section.genre
  .container-fluid.sc
    %h2.ntm ジャンルTOP10
    %ul.bigblock
      - @genre.each do |genre|
        %li
          = link_to trun_str(genre.name, 30), chart_path(genre: genre.name, sort: Constants::SORT)

  .container-fluid.sc
    %h2.ntm NEWプレイリスト
    .outer-cardlist
      = render "lists/list", lists: @newlist, customer: @customer

= render :partial => "layouts/footer"
