.container-fluid.l-container
  .l__privacy
    %h2.content-title プライバシーポリシー
    %p StarListz（以下、「STL」）では、下記のプライバシーポリシー（以下「本ポリシー」といいます。）に基づき、お客様の大事な個人情報を取り扱います。 サービスのご利用をされるためには、本ポリシーを熟読のうえ、内容に同意していただく必要があります。 同意いただけない場合は、サービスへのアクセス及びサービスのご利用はお断りします。
    %h3 個人情報について
    %p 個人情報とは、お客様個人を識別できる情報をいい、下記を含むものとします。
    %%ul
      %li
        お客様がサービスに登録する情報（ニックネーム、メールアドレスおよびパスワード等）
      %li
        お客様のプロフィールに関する情報（アイコン写真、説明文等）
      %li
        お客様がご利用になったサービスの内容、ご利用日時、ご利用回数などのご利用内容・ご利用履歴に関する情報
      %li
        お客様のご利用に関連した決済状況に関する情報
      %li
        お客様がTwitterを使用することを許諾し、TwitterのID及びパスワードを入力した場合に取得できるニックネーム、ID
    
    %h3 取得した個人情報の利用目的について
    %p 取得した個人情報を、以下の目的のために利用いたします。 なお、個人情報の取得にあたって本ポリシーとは別に利用目的を通知した場合は、以下の目的に加え、個別に通知した目的のためにも当該個人情報を利用いたします。
    %%ul
      %li
        サービスにおいて、どのお客様がコンテンツを投稿したり、ページを作成したりしているか等が分かるようにするため。
      %li
        サービス上において表示するコンテンツや広告等を個別のお客様向けに最適化するため。
      %li
        サービスを改善、充実させるため。するため。
      %li
        新しいサービスの企画、検討、開発および提供をするため。
      %li
        サービスに関する満足度を調査するため
      %li
        お客様にサービスまたは新しいサービスに関する情報をご連絡するため。
      %li
        料金のお支払いを遅滞したり、不正または不当な目的でサービスを利用したり、他のお客様をはじめとした第三者に損害を発生させたりする等、利用規約に違反した方のご利用をお断りするため。
      %li
        個人を識別できない形式に加工した統計データを作成するため。
      %li
        サービスに関するご請求、お支払いとその確認をするため
      %li
        お客様からのお問い合わせに対応するため。
      %li
        お客様の本人確認を行うため。
      %li
        その他、上記の利用目的および事業に付帯、関連する目的のため。
    
    %h3 個人情報の第三者への提供について
    %p STLは、以下に定める場合、個人情報を第三者に提供することがあります。
    %%ul
      %li
        お客様の指示または同意に基づいて第三者に個人情報を提供する場合。
      %li
        お客様は、開示された他のお客様の情報を、サービスの利用規約に従ったサービスの利用に必要な範囲でのみ利用するものとし、それぞれのお客様の事前の同意なく、これを第三者に開示してはなりません。 
      %li
        STLがサービスの運営及び提供において必要と判断した場合
      %li
        第三者との紛争解決のため、 又はサービスのユーザーもしくは第三者の権利や利益等を守るために情報開示が必要と判断した場合。
      %li
        裁判所、監督官庁その他の公的機関から取得情報を提供するよう求められた場合等の個人情報保護法で第三者への個人情報の提供が認められている場合。
      %p その他、STLが取得情報の開示が必要と判断した場合に、お客様の同意を得た上で、取得情報を開示させていただくことがございます。
        
    
    %h3 個人情報の管理およびセキュリティについて
    %p STLでは、収集させていただいた取得情報を、一般のユーザーがアクセスできない環境下にあるサーバーにて安全に保管し、不正アクセス・紛失・破壊・改ざんまたは漏洩が生じないよう努めます。
    
    %h3 個人情報の開示・訂正・利用停止等の手続について
    %p お客様は、個人情報保護法に従い、個人情報の開示、訂正、利用停止等を求めることができます。
    
    %h3 個人情報に関するお問い合わせ等について
    %p 個人情報に関するお問い合わせおよび苦情・相談に関するお申し出、開示等の請求は以下のフォームよりお願いいたします。 
    = link_to "お問合わせフォームはこちら", contact_path

    %h3 本ポリシーの変更について
    %p STLは、必要に応じて、本ポリシーを変更することがあります。 なお、法令上お客様の同意が必要となるような変更を実施する場合、当社所定の方法によりお客様からの同意を取得いたします。
