- set_meta_tags title: "プライバシーポリシー"

.l__privacy
  %h2.content-title プライバシーポリシー
  %p StarListz（以下「当社」といいます）は、企業活動において個人情報の保護が重要な責務であることを認識し、個人情報を適切に管理するための基本方針として、このプライバシーポリシー（以下「本ポリシー」といいます）を定めます。
  %h3 第１条 総則
  %p １. 当社は、利用者（当社に個人情報を提供する全ての個人をいいます）の個人情報の保護の実現のため、個人情報保護法、各省庁ガイドラインその他関連する法令等を遵守します。
  %p ２．本ポリシーにおいて「個人情報」とは、個人情報保護法第２条第１項により定義された「個人情報」をいいます。
  
  %h3 第２条 個人情報、匿名加工情報
  %p １. 当社は、事業を行うにあたり、以下の個人情報を取得します。
  %dl
    %dt ① ログインに関する情報
    %dd ログインID、メールアドレス、パスワード
    %dt ② サービスの利用に関して取得する情報
    %dd ・サービスの利用に付随または関連して利用者より提供される、氏名、性別、年齢、生年月日、住所、電話番号その他利用者情報
    %dd ・その他、本人確認を行うため、利用者より提供される本人確認書類（たとえば運転免許証、健康保険証、住民票）に含まれる情報
    %dt ③ 決済に関する情報
    %dd 
      当社のサービスにおける決済はstripe（
      = link_to "https://stripe.com/jp", "https://stripe.com/jp"
      ）のサービスを利用します。当社は、stripe より利用者がstripe に提供した、クレジットカード情報、銀行口座情報、その他決済に関する情報を取得することがあります。ただし、これらの情報は、下四桁のみ等の不完全な情報に限定されます。
    %dt ④ お問い合わせ、ご意見に関して取得する情報
    %dd 当社に対するお問い合わせ、ご意見等をいただく場合、氏名、住所、電話番号、メールアドレス等、利用者より提供を受けた個人情報を取得します。
  %p ２．当社は、現在、匿名加工情報を作成していません。当社が匿名加工情報を作成し、第三者提供する場合、当社は、別途「匿名加工情報取扱ルール」を作成し、遵守します。



  %h3 第３条 個人情報の利用目的
  %p １．当社は、利用者の個人情報を以下の目的で利用します
  %dl
    %dd ① 当社の運営するサービスに関する本人確認、金銭の送金
    %dd ② 当社の運営するサービスにおける会員の管理
    %dd ③ 当社の運営するサービスに関する必要な事項の連絡、問い合わせ対応等
    %dd ④ 当社の運営するサービスの改善、内容の充実
    %dd ⑤ 前各号の他、当社の運営するサービスの提供
    %dd ⑥ マーケティングデータの調査・分析、新たなサービス企画・検討・開発
    %dd ⑥ マーケティングデータの調査・分析、新たなサービス企画・検討・開発
    %dd ⑧ 契約または法令に基づく権利の行使、義務の履行
    %dd ⑨ 前各号に付随する目的
  %p ２．当社は、前項の利用目的を、変更前の利用目的と相当の関連性を有すると合理的に認められる範囲内において変更することがあり、変更した場合には、当社が別途定める方法により、通知または公表します。
      
  
  %h3 第４条 個人情報の共同利用、第三者提供
  %p １．当社は、第三者との間で利用者の個人情報を共同利用することはありません。
  %p ２．当社は、利用者ご本人より明示的に許諾を得た場合、個人情報保護法その他の法令により認められる場合を除き、個人情報を第三者に提供することはありません。
  
  %h3 第５条 Cookie の利用
  %p １. 当社の運営するウェブサイト（以下「当社サイト」といいます）では、Cookie を利用し、当社サイトの利便性の向上、統計データの集積・分析に役立てています。利用者は、ブラウザの設定により、Cookieを無効にすることができますが、この場合、当社サイトの一部の機能に制約が生じることがあります。
  %p ２．当社サイトは、Cookie を利用して、以下の広告配信を行う事業者に対し広告配信を委託し、行動ターゲティング広告のサービスを利用しています。このサービスを無効にするためには、それぞれリンク先にあるオプトアウトの手順に従ってください。
  %dl
    %dd 
      グーグル株式会社
      = link_to "https://support.google.com/ads/answer/2662922?hl=ja", "https://support.google.com/ads/answer/2662922?hl=ja"
  %p ３. 当社サイトでは、アクセス解析ツールである「Google Analytics」を利用しています。「Google Analytics」はトラフィックデータの収集のためにCookie を利用していますが、このトラフィックデータは匿名で収集されており、個人を特定するものではありません。詳細は、下記リンクをご覧ください。
  %dl
    %dd 
      = link_to "https://policies.google.com/technologies/partner-sites?hl=ja", "https://policies.google.com/technologies/partner-sites?hl=ja"
  
  %h3 第６条 安全管理体制
  %p 当社は、個人情報への不正アクセス、個人情報の流出、紛失、改ざんなどのリスクに備え、個人情報の安全管理のための措置を講じます。

  %h3 第７条 情報開示・訂正等の請求
  %p １．利用者は、利用者が当社に提供した個人情報について、以下に定める手続に従い、開示を請求することができます。
  %dl
    %dd ① 当社所定の申請書（申請書の雛形は、当社の相談窓口宛（第１０条記載のとおり）に電子メールでご請求ください）に必要事項を記入し、本人確認（代理人による申請の場合、適正な代理人であることの確認書類が必要）のために必要な書類（運転免許証、パスポートなどの公的書類のコピー１点）を同封のうえ、相談窓口宛に郵送する方法によりご請求ください。インターネット上でのご請求は受け付けておりません。１回の申請ごとに手数料として１０００円を申し受けます。
    %dd ② 前号に基づく請求につき本人確認がなされたときは、当社は、書面をもって、合理的な範囲で個人情報を開示します。ただし、個人情報保護法その他の法令により当社が開示義務を負わない場合または正当な理由なく同内容の請求が何度も繰り返される場合はこの限りではありません。
  %p ２．当社の保有する利用者に関する個人情報の内容が事実と異なる場合、利用者は、以下に定める手続に従い、訂正、追加、削除を請求することができます。
  %dl
    %dd ① 当社所定の申請書（申請書の雛形は、相談窓口宛に電子メールでご請求ください）に本人確認（代理人による申請の場合、適正な代理人であることの確認が必要）のために必要な書類を同封のうえ、相談窓口宛に郵送する方法によりご請求ください。
    %dd ② 前号に基づく請求につき本人確認がなされたときは、当社は、合理的な範囲で遅滞なく調査を行い、その結果に基づき個人情報の訂正、追加、削除を行い、書面をもってご連絡します。ただし、個人情報保護法その他の法令により当社がこれらの義務を負わない場合はこの限りではありません。
    
  %h3 第８条 個人情報の消去
  %p 当社は、当社が取得した利用者の個人情報につき、当社による通常の事業運営に照らして、当該個人情報を利用する必要がなくなった場合、遅滞なく消去します。 
  
  
  %h3 第９条 本ポリシーの改定
  %p １．当社は、個人情報の取扱いに関する法令・ガイドラインの改正や運用状況を適宜見直し、継続的な改善に務めるものとし、随時、本ポリシーを改定することがあります。
  %p ２．改定後の本ポリシーについては、当社のウェブサイトの適宜の場所に掲示その他分かりやすい方法により告知し、その時点から改定後の本ポリシーが適用されるものとします。
  %p ３．前項にかかわらず、法令上利用者の同意が必要となる内容の変更を行うときは、別途当社が定める方法により、利用者の同意を取得します。
  
  
  %h3 第１０条 相談窓口
  %p 当社の個人情報の取扱いに関するご質問、ご意見、お困りごとその他個人情報の取扱いに関するご相談は、下記相談窓口までご連絡ください。なお、Email でのお問い合わせについては、ご回答までにお時間をいただくことがあります。
  %dl
    %dt 【相談窓口】
    %dd=Constants::COMPANY_ADDRESS
    %dd StarListz
    %dd 個人情報相談窓口
    %dd Email : #{Constants::SUPPORT_MAIL}
  
  
  %p ２０１８年 １２月 １日 制定
  
  