<div class="l__m l__listShow">
  <div class="l__playlist">
    <div class="l__playlistCore clearfix">
      <div class="playlist__img">
        <div class="l__img">
          <img src="//s3.amazonaws.com/starlistz-bucket-prod/images/2/thumb.jpg?1543994708" alt="Thumb">
        </div>
        <div class="span trackCount">10曲</div>
      </div>
      <div class="playlist__text">
        <div class="playlist__title">
          StarListz ベストプレイリスト
        </div>
        <div class="playlist__author">
          <a href="/users/2/playlist">sample_starlistz</a>
          <!-- / 本人確認バッジ -->
          <span class="VerifiedBadge " title="認証済み">認証済み</span>

        </div>
      </div>
    </div>
    <hr>
    <div class="span playlist__discription">
      <p>これはサンプルのリストです。</p>
      <p>このようなリストを誰でも作成し公開することができます。</p>
    </div>
    <div class="span">
      <span class="genretag">
<a href="/chart?genre=hiphop&amp;sort=new">sample</a>
</span>
      <span class="genretag">
<a href="/chart?genre=randb&amp;sort=new">playlist</a>
</span>
    </div>
  </div>
  <div class="track_section">
    <div class="l__tracks">
      <table>
        <tbody>
          <tr>
            <td>
              <span class="favoriteStar">
お気に入り
</span>
            </td>
            <td class="track_no_sample"></td>
            <td>
              <span class="trackSong">曲名</span>
              <span class="trackArtist">アーティスト名</span>
            </td>
            <td>
              <a class="modal-syncer js__listBack" data-target="modal-content-0">
                <span class="trackComment">
曲の説明
</span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="l__tracks">
      <table>
        <tbody>
          <tr>
            <td>
              <span class="favoriteStar">
<i class="material-icons">star_rate</i>
</span>
            </td>
            <td class="track_no">1</td>
            <td>
              <span class="trackSong">4:55</span>
              <span class="trackArtist">CREAM</span>
            </td>
            <td>
              <a class="modal-syncer js__listBack" data-target="modal-content-0">
                <span class="trackComment">
<i class="material-icons already">comment</i>
</span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- / ここからトラックの説明のモーダルウィンドウ -->
    <div class="modal-content modal__comment" id="modal-content-0">
      <!-- / モーダルウィンドウのコンテンツ開始 -->
      <div class="r__modalContent"></div>
      <div class="l__playlistCore clearfix">
        <div class="playlist__img">
          <div class="l__img">
            <img src="//s3.amazonaws.com/starlistz-bucket-prod/images/2/thumb.jpg?1543994708" alt="Thumb">
          </div>
        </div>
        <div class="playlist__text">
          <span class="modal_song">4:55</span>
          <span class="modal_artist">CREAM</span>
        </div>
      </div>
      <hr>
      <p></p>
      <p>CREAM Visionの初期の頃からCREAMを応援していて何度かLiveも行かせていただいていますが、CREAM Visionで出していた曲〜今までの曲もぉすべてがいい曲ばかり！その中でも最新アルバムの『Sounds Good』が一番好きでこのアルバムでヘビロテしている１曲をチョイスしました。このアルバムはほかにも「first love」など素晴らしい曲がいろいろあるのでぜひチェックしてみてください。</p>
      <p></p>
      <!-- / モーダルウィンドウのコンテンツ終了 -->
      <p class="text-center">
        <a class="button-link" id="modal-close">閉じる</a>
      </p>
    </div>
    <div class="l__tracks">
      <table>
        <tbody>
          <tr>
            <td>
            </td>
            <td class="track_no">2</td>
            <td>
              <span class="trackSong">Wanna Get to Know You</span>
              <span class="trackArtist">G-Unit feat Joe</span>
            </td>
            <td>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- / ここからトラックの説明のモーダルウィンドウ -->
    <div class="modal-content modal__comment" id="modal-content-1">
      <!-- / モーダルウィンドウのコンテンツ開始 -->
      <div class="r__modalContent"></div>
      <div class="l__playlistCore clearfix">
        <div class="playlist__img">
          <div class="l__img">
            <img src="//s3.amazonaws.com/starlistz-bucket-prod/images/2/thumb.jpg?1543994708" alt="Thumb">
          </div>
        </div>
        <div class="playlist__text">
          <span class="modal_song">Wanna Get to Know You</span>
          <span class="modal_artist">G-Unit feat Joe</span>
        </div>
      </div>
      <hr>
      <p></p>
      <p></p>
      <p></p>
      <!-- / モーダルウィンドウのコンテンツ終了 -->
      <p class="text-center">
        <a class="button-link" id="modal-close">閉じる</a>
      </p>
    </div>
    <div class="l__tracks">
      <table>
        <tbody>
          <tr>
            <td>
              <span class="favoriteStar">
<i class="material-icons">star_rate</i>
</span>
            </td>
            <td class="track_no">3</td>
            <td>
              <span class="trackSong">EST 4 Life</span>
              <span class="trackArtist">Machine Gun Kelly</span>
            </td>
            <td>
              <a class="modal-syncer js__listBack" data-target="modal-content-2">
                <span class="trackComment">
<i class="material-icons already">comment</i>
</span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- / ここからトラックの説明のモーダルウィンドウ -->
    <div class="modal-content modal__comment" id="modal-content-2">
      <!-- / モーダルウィンドウのコンテンツ開始 -->
      <div class="r__modalContent"></div>
      <div class="l__playlistCore clearfix">
        <div class="playlist__img">
          <div class="l__img">
            <img src="//s3.amazonaws.com/starlistz-bucket-prod/images/2/thumb.jpg?1543994708" alt="Thumb">
          </div>
        </div>
        <div class="playlist__text">
          <span class="modal_song">EST 4 Life</span>
          <span class="modal_artist">Machine Gun Kelly</span>
        </div>
      </div>
      <hr>
      <p></p>
      <p>MGKのアルバムの中でも『EST 4 Life』が一番イケてる。最近のtrapっぽい曲だったりゆったり系も好きだがやっぱりオラオラ系の激しいタイプのrapが好きなのでEST 4 Lifeの時の激しい感じが一番タイプ。</p>
      <p></p>
      <!-- / モーダルウィンドウのコンテンツ終了 -->
      <p class="text-center">
        <a class="button-link" id="modal-close">閉じる</a>
      </p>
    </div>
    <div class="l__tracks">
      <table>
        <tbody>
          <tr>
            <td>
            </td>
            <td class="track_no">4</td>
            <td>
              <span class="trackSong">Whatever You Like</span>
              <span class="trackArtist">T.I.</span>
            </td>
            <td>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- / ここからトラックの説明のモーダルウィンドウ -->
    <div class="modal-content modal__comment" id="modal-content-3">
      <!-- / モーダルウィンドウのコンテンツ開始 -->
      <div class="r__modalContent"></div>
      <div class="l__playlistCore clearfix">
        <div class="playlist__img">
          <div class="l__img">
            <img src="//s3.amazonaws.com/starlistz-bucket-prod/images/2/thumb.jpg?1543994708" alt="Thumb">
          </div>
        </div>
        <div class="playlist__text">
          <span class="modal_song">Whatever You Like</span>
          <span class="modal_artist">T.I.</span>
        </div>
      </div>
      <hr>
      <p></p>
      <p></p>
      <p></p>
      <!-- / モーダルウィンドウのコンテンツ終了 -->
      <p class="text-center">
        <a class="button-link" id="modal-close">閉じる</a>
      </p>
    </div>
    <div class="l__tracks">
      <table>
        <tbody>
          <tr>
            <td>
              <span class="favoriteStar">
<i class="material-icons">star_rate</i>
</span>
            </td>
            <td class="track_no">5</td>
            <td>
              <span class="trackSong">Dreams and Nightmares</span>
              <span class="trackArtist">Meek Mill</span>
            </td>
            <td>
              <a class="modal-syncer js__listBack" data-target="modal-content-4">
                <span class="trackComment">
<i class="material-icons already">comment</i>
</span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- / ここからトラックの説明のモーダルウィンドウ -->
    <div class="modal-content modal__comment" id="modal-content-4">
      <!-- / モーダルウィンドウのコンテンツ開始 -->
      <div class="r__modalContent"></div>
      <div class="l__playlistCore clearfix">
        <div class="playlist__img">
          <div class="l__img">
            <img src="//s3.amazonaws.com/starlistz-bucket-prod/images/2/thumb.jpg?1543994708" alt="Thumb">
          </div>
        </div>
        <div class="playlist__text">
          <span class="modal_song">Dreams and Nightmares</span>
          <span class="modal_artist">Meek Mill</span>
        </div>
      </div>
      <hr>
      <p></p>
      <p>MGKと同様強い口調で激しいrapを見せてくれるMeek Millもかなりヤバいです。
        <br>その中でもDreams and Nightmaresはリアルなリリックに強い口調でかっこいい中にもなにか考えさせられる曲だと思います。</p>
      <p></p>
      <!-- / モーダルウィンドウのコンテンツ終了 -->
      <p class="text-center">
        <a class="button-link" id="modal-close">閉じる</a>
      </p>
    </div>
    <div class="l__tracks">
      <table>
        <tbody>
          <tr>
            <td>
            </td>
            <td class="track_no">6</td>
            <td>
              <span class="trackSong">Kissin' on My Tatto</span>
              <span class="trackArtist">August Alsina</span>
            </td>
            <td>
              <a class="modal-syncer js__listBack" data-target="modal-content-5">
                <span class="trackComment">
<i class="material-icons already">comment</i>
</span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- / ここからトラックの説明のモーダルウィンドウ -->
    <div class="modal-content modal__comment" id="modal-content-5">
      <!-- / モーダルウィンドウのコンテンツ開始 -->
      <div class="r__modalContent"></div>
      <div class="l__playlistCore clearfix">
        <div class="playlist__img">
          <div class="l__img">
            <img src="//s3.amazonaws.com/starlistz-bucket-prod/images/2/thumb.jpg?1543994708" alt="Thumb">
          </div>
        </div>
        <div class="playlist__text">
          <span class="modal_song">Kissin' on My Tatto</span>
          <span class="modal_artist">August Alsina</span>
        </div>
      </div>
      <hr>
      <p></p>
      <p>まったりしたい時やイチャイチャしている時に聞いたりするとすごく雰囲気出ます。
        <br>あと@VedoTheSingerさんがカバーしているものもありますがこっちも激アツなのでチェックしてください！</p>
      <p></p>
      <!-- / モーダルウィンドウのコンテンツ終了 -->
      <p class="text-center">
        <a class="button-link" id="modal-close">閉じる</a>
      </p>
    </div>
    <div class="l__tracks">
      <table>
        <tbody>
          <tr>
            <td>
            </td>
            <td class="track_no">7</td>
            <td>
              <span class="trackSong">Insance</span>
              <span class="trackArtist">倖田來未</span>
            </td>
            <td>
              <a class="modal-syncer js__listBack" data-target="modal-content-6">
                <span class="trackComment">
<i class="material-icons already">comment</i>
</span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- / ここからトラックの説明のモーダルウィンドウ -->
    <div class="modal-content modal__comment" id="modal-content-6">
      <!-- / モーダルウィンドウのコンテンツ開始 -->
      <div class="r__modalContent"></div>
      <div class="l__playlistCore clearfix">
        <div class="playlist__img">
          <div class="l__img">
            <img src="//s3.amazonaws.com/starlistz-bucket-prod/images/2/thumb.jpg?1543994708" alt="Thumb">
          </div>
        </div>
        <div class="playlist__text">
          <span class="modal_song">Insance</span>
          <span class="modal_artist">倖田來未</span>
        </div>
      </div>
      <hr>
      <p></p>
      <p>日本のラッパーの方の曲も最近聞くようになりましたが、倖田來未さんのrap調の曲が結構ハマってるいます。
        <br>倖田來未さんも結構すきで、『ファイナルファンタジーX-2』の時の「real Emotion / 1000の言葉」からずっと聞いてます。
        <br>以前からrap調の曲はいくつかありますがイチオシは『Insance』です。
        <br>もぉ女性ラッパーって言ってもいいんじゃないかくらいカッコイイです。</p>
      <p></p>
      <!-- / モーダルウィンドウのコンテンツ終了 -->
      <p class="text-center">
        <a class="button-link" id="modal-close">閉じる</a>
      </p>
    </div>
    <div class="l__tracks">
      <table>
        <tbody>
          <tr>
            <td>
            </td>
            <td class="track_no">8</td>
            <td>
              <span class="trackSong">I'm So Fly</span>
              <span class="trackArtist">Lloyd Banks</span>
            </td>
            <td>
              <a class="modal-syncer js__listBack" data-target="modal-content-7">
                <span class="trackComment">
<i class="material-icons already">comment</i>
</span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- / ここからトラックの説明のモーダルウィンドウ -->
    <div class="modal-content modal__comment" id="modal-content-7">
      <!-- / モーダルウィンドウのコンテンツ開始 -->
      <div class="r__modalContent"></div>
      <div class="l__playlistCore clearfix">
        <div class="playlist__img">
          <div class="l__img">
            <img src="//s3.amazonaws.com/starlistz-bucket-prod/images/2/thumb.jpg?1543994708" alt="Thumb">
          </div>
        </div>
        <div class="playlist__text">
          <span class="modal_song">I'm So Fly</span>
          <span class="modal_artist">Lloyd Banks</span>
        </div>
      </div>
      <hr>
      <p></p>
      <p>G-unitはめちゃめちゃ好きなんですがその中でも断然Lloyd Banksが推しです。
        <br>この低くて癖のある声がなんとも言えないしフローがたまらない。
        <br>Lloyd Banks好きはなかなかいないからどこかにいないかな。</p>
      <p></p>
      <!-- / モーダルウィンドウのコンテンツ終了 -->
      <p class="text-center">
        <a class="button-link" id="modal-close">閉じる</a>
      </p>
    </div>
    <div class="l__tracks">
      <table>
        <tbody>
          <tr>
            <td>
              <span class="favoriteStar">
<i class="material-icons">star_rate</i>
</span>
            </td>
            <td class="track_no">9</td>
            <td>
              <span class="trackSong">Can't Help But Wait</span>
              <span class="trackArtist">Trey Songz</span>
            </td>
            <td>
              <a class="modal-syncer js__listBack" data-target="modal-content-8">
                <span class="trackComment">
<i class="material-icons already">comment</i>
</span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- / ここからトラックの説明のモーダルウィンドウ -->
    <div class="modal-content modal__comment" id="modal-content-8">
      <!-- / モーダルウィンドウのコンテンツ開始 -->
      <div class="r__modalContent"></div>
      <div class="l__playlistCore clearfix">
        <div class="playlist__img">
          <div class="l__img">
            <img src="//s3.amazonaws.com/starlistz-bucket-prod/images/2/thumb.jpg?1543994708" alt="Thumb">
          </div>
        </div>
        <div class="playlist__text">
          <span class="modal_song">Can't Help But Wait</span>
          <span class="modal_artist">Trey Songz</span>
        </div>
      </div>
      <hr>
      <p></p>
      <p>この曲で初めてTrey Songzを知ったのですが声が綺麗すぎる！し色気がありすぎる！
        <br>Trey Songzは女性必見、笑
        <br>僕はバスケもめちゃくちゃ好きなんですがTrey Songzもインスタなんかを見るとバスケが好きなようでバスケ好きな人ももしかしたら少し親近感が湧く、、、かも。</p>
      <p></p>
      <!-- / モーダルウィンドウのコンテンツ終了 -->
      <p class="text-center">
        <a class="button-link" id="modal-close">閉じる</a>
      </p>
    </div>
    <div class="l__tracks">
      <table>
        <tbody>
          <tr>
            <td>
            </td>
            <td class="track_no">10</td>
            <td>
              <span class="trackSong">笑顔の作り方~キムチ~</span>
              <span class="trackArtist">足立 佳奈</span>
            </td>
            <td>
              <a class="modal-syncer js__listBack" data-target="modal-content-9">
                <span class="trackComment">
<i class="material-icons already">comment</i>
</span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- / ここからトラックの説明のモーダルウィンドウ -->
    <div class="modal-content modal__comment" id="modal-content-9">
      <!-- / モーダルウィンドウのコンテンツ開始 -->
      <div class="r__modalContent"></div>
      <div class="l__playlistCore clearfix">
        <div class="playlist__img">
          <div class="l__img">
            <img src="//s3.amazonaws.com/starlistz-bucket-prod/images/2/thumb.jpg?1543994708" alt="Thumb">
          </div>
        </div>
        <div class="playlist__text">
          <span class="modal_song">笑顔の作り方~キムチ~</span>
          <span class="modal_artist">足立 佳奈</span>
        </div>
      </div>
      <hr>
      <p></p>
      <p>足立 佳奈ちゃんかわいいですよね、笑
        <br>SNSで短い15秒の短いオリジナル曲の特集をみてハマりました。ちなみにオリジナルで好きなのは「すきって言ったら僕もだよ」って曲です。題名ないので曲のフレーズですがめちゃくちゃ可愛いです。
        <br>今回セレクトした曲はとにかく元気が出ます。落ち込んだり悲しい時これ聞いたら元気が出るかも！！</p>
      <p></p>
      <!-- / モーダルウィンドウのコンテンツ終了 -->
      <p class="text-center">
        <a class="button-link" id="modal-close">閉じる</a>
      </p>
    </div>
    <div class="l__tracks">
      <table>
        <tbody>
          <tr>
            <td>
              <span class="favoriteStar">
<i class="material-icons">star_rate</i>
</span>
            </td>
            <td class="track_no">11</td>
            <td>
              <span class="trackSong">We Fly High (Remix)</span>
              <span class="trackArtist">Jim Jones</span>
            </td>
            <td>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- / ここからトラックの説明のモーダルウィンドウ -->
    <div class="modal-content modal__comment" id="modal-content-10">
      <!-- / モーダルウィンドウのコンテンツ開始 -->
      <div class="r__modalContent"></div>
      <div class="l__playlistCore clearfix">
        <div class="playlist__img">
          <div class="l__img">
            <img src="//s3.amazonaws.com/starlistz-bucket-prod/images/2/thumb.jpg?1543994708" alt="Thumb">
          </div>
        </div>
        <div class="playlist__text">
          <span class="modal_song">We Fly High (Remix)</span>
          <span class="modal_artist">Jim Jones</span>
        </div>
      </div>
      <hr>
      <p></p>
      <p></p>
      <p></p>
      <!-- / モーダルウィンドウのコンテンツ終了 -->
      <p class="text-center">
        <a class="button-link" id="modal-close">閉じる</a>
      </p>
    </div>
    <div class="l__tracks">
      <table>
        <tbody>
          <tr>
            <td>
            </td>
            <td class="track_no">12</td>
            <td>
              <span class="trackSong">So Sick</span>
              <span class="trackArtist">Ne-Yo</span>
            </td>
            <td>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- / ここからトラックの説明のモーダルウィンドウ -->
    <div class="modal-content modal__comment" id="modal-content-11">
      <!-- / モーダルウィンドウのコンテンツ開始 -->
      <div class="r__modalContent"></div>
      <div class="l__playlistCore clearfix">
        <div class="playlist__img">
          <div class="l__img">
            <img src="//s3.amazonaws.com/starlistz-bucket-prod/images/2/thumb.jpg?1543994708" alt="Thumb">
          </div>
        </div>
        <div class="playlist__text">
          <span class="modal_song">So Sick</span>
          <span class="modal_artist">Ne-Yo</span>
        </div>
      </div>
      <hr>
      <p></p>
      <p></p>
      <p></p>
      <!-- / モーダルウィンドウのコンテンツ終了 -->
      <p class="text-center">
        <a class="button-link" id="modal-close">閉じる</a>
      </p>
    </div>
    <div class="l__tracks">
      <table>
        <tbody>
          <tr>
            <td>
            </td>
            <td class="track_no">13</td>
            <td>
              <span class="trackSong">Grillz</span>
              <span class="trackArtist">Nelly feat Paul Wall,  Ali &amp; Gipp</span>
            </td>
            <td>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- / ここからトラックの説明のモーダルウィンドウ -->
    <div class="modal-content modal__comment" id="modal-content-12">
      <!-- / モーダルウィンドウのコンテンツ開始 -->
      <div class="r__modalContent"></div>
      <div class="l__playlistCore clearfix">
        <div class="playlist__img">
          <div class="l__img">
            <img src="//s3.amazonaws.com/starlistz-bucket-prod/images/2/thumb.jpg?1543994708" alt="Thumb">
          </div>
        </div>
        <div class="playlist__text">
          <span class="modal_song">Grillz</span>
          <span class="modal_artist">Nelly feat Paul Wall,  Ali &amp; Gipp</span>
        </div>
      </div>
      <hr>
      <p></p>
      <p></p>
      <p></p>
      <!-- / モーダルウィンドウのコンテンツ終了 -->
      <p class="text-center">
        <a class="button-link" id="modal-close">閉じる</a>
      </p>
    </div>
    <div class="l__tracks">
      <table>
        <tbody>
          <tr>
            <td>
            </td>
            <td class="track_no">14</td>
            <td>
              <span class="trackSong">Triumphant (Get 'Em) </span>
              <span class="trackArtist">Mariah Carey feat.Rick Ross &amp; Meek Mill</span>
            </td>
            <td>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- / ここからトラックの説明のモーダルウィンドウ -->
    <div class="modal-content modal__comment" id="modal-content-13">
      <!-- / モーダルウィンドウのコンテンツ開始 -->
      <div class="r__modalContent"></div>
      <div class="l__playlistCore clearfix">
        <div class="playlist__img">
          <div class="l__img">
            <img src="//s3.amazonaws.com/starlistz-bucket-prod/images/2/thumb.jpg?1543994708" alt="Thumb">
          </div>
        </div>
        <div class="playlist__text">
          <span class="modal_song">Triumphant (Get 'Em) </span>
          <span class="modal_artist">Mariah Carey feat.Rick Ross &amp; Meek Mill</span>
        </div>
      </div>
      <hr>
      <p></p>
      <p></p>
      <p></p>
      <!-- / モーダルウィンドウのコンテンツ終了 -->
      <p class="text-center">
        <a class="button-link" id="modal-close">閉じる</a>
      </p>
    </div>
    <div class="l__tracks">
      <table>
        <tbody>
          <tr>
            <td>
            </td>
            <td class="track_no">15</td>
            <td>
              <span class="trackSong">Hey Cutie</span>
              <span class="trackArtist">Soulja Boy Tell'Em feat Trey Songz</span>
            </td>
            <td>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- / ここからトラックの説明のモーダルウィンドウ -->
    <div class="modal-content modal__comment" id="modal-content-14">
      <!-- / モーダルウィンドウのコンテンツ開始 -->
      <div class="r__modalContent"></div>
      <div class="l__playlistCore clearfix">
        <div class="playlist__img">
          <div class="l__img">
            <img src="//s3.amazonaws.com/starlistz-bucket-prod/images/2/thumb.jpg?1543994708" alt="Thumb">
          </div>
        </div>
        <div class="playlist__text">
          <span class="modal_song">Hey Cutie</span>
          <span class="modal_artist">Soulja Boy Tell'Em feat Trey Songz</span>
        </div>
      </div>
      <hr>
      <p></p>
      <p></p>
      <p></p>
      <!-- / モーダルウィンドウのコンテンツ終了 -->
      <p class="text-center">
        <a class="button-link" id="modal-close">閉じる</a>
      </p>
    </div>
    <div class="l__tracks">
      <table>
        <tbody>
          <tr>
            <td>
            </td>
            <td class="track_no">16</td>
            <td>
              <span class="trackSong">I Wish</span>
              <span class="trackArtist">Cher Lloyd feat T.I.</span>
            </td>
            <td>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- / ここからトラックの説明のモーダルウィンドウ -->
    <div class="modal-content modal__comment" id="modal-content-15">
      <!-- / モーダルウィンドウのコンテンツ開始 -->
      <div class="r__modalContent"></div>
      <div class="l__playlistCore clearfix">
        <div class="playlist__img">
          <div class="l__img">
            <img src="//s3.amazonaws.com/starlistz-bucket-prod/images/2/thumb.jpg?1543994708" alt="Thumb">
          </div>
        </div>
        <div class="playlist__text">
          <span class="modal_song">I Wish</span>
          <span class="modal_artist">Cher Lloyd feat T.I.</span>
        </div>
      </div>
      <hr>
      <p></p>
      <p></p>
      <p></p>
      <!-- / モーダルウィンドウのコンテンツ終了 -->
      <p class="text-center">
        <a class="button-link" id="modal-close">閉じる</a>
      </p>
    </div>
    <div class="l__tracks">
      <table>
        <tbody>
          <tr>
            <td>
              <span class="favoriteStar">
<i class="material-icons">star_rate</i>
</span>
            </td>
            <td class="track_no">17</td>
            <td>
              <span class="trackSong">4 Minutes</span>
              <span class="trackArtist">Avant</span>
            </td>
            <td>
              <a class="modal-syncer js__listBack" data-target="modal-content-16">
                <span class="trackComment">
<i class="material-icons already">comment</i>
</span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- / ここからトラックの説明のモーダルウィンドウ -->
    <div class="modal-content modal__comment" id="modal-content-16">
      <!-- / モーダルウィンドウのコンテンツ開始 -->
      <div class="r__modalContent"></div>
      <div class="l__playlistCore clearfix">
        <div class="playlist__img">
          <div class="l__img">
            <img src="//s3.amazonaws.com/starlistz-bucket-prod/images/2/thumb.jpg?1543994708" alt="Thumb">
          </div>
        </div>
        <div class="playlist__text">
          <span class="modal_song">4 Minutes</span>
          <span class="modal_artist">Avant</span>
        </div>
      </div>
      <hr>
      <p></p>
      <p>Avantは声がめちゃくちゃいいです。
        <br>そんな声でこんな切ない歌を歌われたらめっちゃ心にしみます。
        <br>MVあるのでぜひ見てください。Avantの良さと切なさが伝わると思います。</p>
      <p></p>
      <!-- / モーダルウィンドウのコンテンツ終了 -->
      <p class="text-center">
        <a class="button-link" id="modal-close">閉じる</a>
      </p>
    </div>
    <div class="l__tracks">
      <table>
        <tbody>
          <tr>
            <td>
            </td>
            <td class="track_no">18</td>
            <td>
              <span class="trackSong">Wild Boy Remix</span>
              <span class="trackArtist">Machine Gun Kelly feat. 2 Chainz, French Montana, Meek Mill, Mystikal, Steve-O &amp; Yo Gotti</span>
            </td>
            <td>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- / ここからトラックの説明のモーダルウィンドウ -->
    <div class="modal-content modal__comment" id="modal-content-17">
      <!-- / モーダルウィンドウのコンテンツ開始 -->
      <div class="r__modalContent"></div>
      <div class="l__playlistCore clearfix">
        <div class="playlist__img">
          <div class="l__img">
            <img src="//s3.amazonaws.com/starlistz-bucket-prod/images/2/thumb.jpg?1543994708" alt="Thumb">
          </div>
        </div>
        <div class="playlist__text">
          <span class="modal_song">Wild Boy Remix</span>
          <span class="modal_artist">Machine Gun Kelly feat. 2 Chainz, French Montana, Meek Mill, Mystikal, Steve-O &amp; Yo Gotti</span>
        </div>
      </div>
      <hr>
      <p></p>
      <p></p>
      <p></p>
      <!-- / モーダルウィンドウのコンテンツ終了 -->
      <p class="text-center">
        <a class="button-link" id="modal-close">閉じる</a>
      </p>
    </div>
    <div class="l__tracks">
      <table>
        <tbody>
          <tr>
            <td>
            </td>
            <td class="track_no">19</td>
            <td>
              <span class="trackSong">Replay</span>
              <span class="trackArtist">Iyaz</span>
            </td>
            <td>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- / ここからトラックの説明のモーダルウィンドウ -->
    <div class="modal-content modal__comment" id="modal-content-18">
      <!-- / モーダルウィンドウのコンテンツ開始 -->
      <div class="r__modalContent"></div>
      <div class="l__playlistCore clearfix">
        <div class="playlist__img">
          <div class="l__img">
            <img src="//s3.amazonaws.com/starlistz-bucket-prod/images/2/thumb.jpg?1543994708" alt="Thumb">
          </div>
        </div>
        <div class="playlist__text">
          <span class="modal_song">Replay</span>
          <span class="modal_artist">Iyaz</span>
        </div>
      </div>
      <hr>
      <p></p>
      <p></p>
      <p></p>
      <!-- / モーダルウィンドウのコンテンツ終了 -->
      <p class="text-center">
        <a class="button-link" id="modal-close">閉じる</a>
      </p>
    </div>
    <div class="l__tracks">
      <table>
        <tbody>
          <tr>
            <td>
            </td>
            <td class="track_no">20</td>
            <td>
              <span class="trackSong">You Belong With Me</span>
              <span class="trackArtist">Taylor Swift</span>
            </td>
            <td>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- / ここからトラックの説明のモーダルウィンドウ -->
    <div class="modal-content modal__comment" id="modal-content-19">
      <!-- / モーダルウィンドウのコンテンツ開始 -->
      <div class="r__modalContent"></div>
      <div class="l__playlistCore clearfix">
        <div class="playlist__img">
          <div class="l__img">
            <img src="//s3.amazonaws.com/starlistz-bucket-prod/images/2/thumb.jpg?1543994708" alt="Thumb">
          </div>
        </div>
        <div class="playlist__text">
          <span class="modal_song">You Belong With Me</span>
          <span class="modal_artist">Taylor Swift</span>
        </div>
      </div>
      <hr>
      <p></p>
      <p></p>
      <p></p>
      <!-- / モーダルウィンドウのコンテンツ終了 -->
      <p class="text-center">
        <a class="button-link" id="modal-close">閉じる</a>
      </p>
    </div>
    <div class="l__tracks">
      <table>
        <tbody>
          <tr>
            <td>
            </td>
            <td class="track_no">21</td>
            <td>
              <span class="trackSong">Instargram Remix</span>
              <span class="trackArtist">WEZ feat. Staxx T &amp; JOYSTICKK</span>
            </td>
            <td>
              <a class="modal-syncer js__listBack" data-target="modal-content-20">
                <span class="trackComment">
<i class="material-icons already">comment</i>
</span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- / ここからトラックの説明のモーダルウィンドウ -->
    <div class="modal-content modal__comment" id="modal-content-20">
      <!-- / モーダルウィンドウのコンテンツ開始 -->
      <div class="r__modalContent"></div>
      <div class="l__playlistCore clearfix">
        <div class="playlist__img">
          <div class="l__img">
            <img src="//s3.amazonaws.com/starlistz-bucket-prod/images/2/thumb.jpg?1543994708" alt="Thumb">
          </div>
        </div>
        <div class="playlist__text">
          <span class="modal_song">Instargram Remix</span>
          <span class="modal_artist">WEZ feat. Staxx T &amp; JOYSTICKK</span>
        </div>
      </div>
      <hr>
      <p></p>
      <p>僕が日本で一番好きなラッパーがStaxx Tさん。その中でもイケてるなぁ、と思う一曲。
        <br>この曲を歌っているWez 中嶋さんはハワイの時のテラスハウスに出てました。
        <br>Staxx Tさんはこのプレイリストの１曲目に紹介したCREAMのメンバーですがこれからソロ活動の本格化されるようなのでめっっっちゃ要チェックです！！</p>
      <p></p>
      <!-- / モーダルウィンドウのコンテンツ終了 -->
      <p class="text-center">
        <a class="button-link" id="modal-close">閉じる</a>
      </p>
    </div>
  </div>
</div>