<div class="l__m l__listShow">
  <div class="l__playlist">
    <div class="l__playlistCore clearfix">
      <div class="playlist__topimg">
        <div class="l__img">
          <img src="//s3.amazonaws.com/starlistz-bucket-prod/sample_playlist/samplelist_thumb.jpg" alt="Thumb">
        </div>
        <div class="span trackCount">10曲</div>
      </div>
      <div class="playlist__text">
        <div class="playlist__title">
          StarListz ベストプレイリスト
        </div>
        <div class="playlist__author">
          <a href="/users/2/playlist">starlistz_user</a>

        </div>
      </div>
    </div>
    <hr>
    <div class="span playlist__discription">
      <p>これはサンプルのリストです。</p>
      <p>このようなリストを誰でも作成し公開することができます。</p>
    </div>
    <div class="span">
      <span class="genretag">
<a href="">sample</a>
</span>
      <span class="genretag">
<a href="">playlist</a>
</span>
    </div>
  </div>
  <div class="track_section">
    <div class="l__tracks">
      <table>
        <tbody>
          <tr>
            <td>
              <span class="favoriteStar">
お気に入り
</span>
            </td>
            <td class="track_no_sample"></td>
            <td>
              <span class="trackSong">曲名</span>
              <span class="trackArtist">アーティスト名</span>
            </td>
            <td>
              <a class="modal-syncer js__listBack" data-target="modal-content-0">
                <span class="trackComment">
曲の説明
</span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="l__tracks">
      <table>
        <tbody>
          <tr>
            <td>
              <span class="favoriteStar">
<i class="material-icons">star_rate</i>
</span>
            </td>
            <td class="track_no">1</td>
            <td>
              <span class="trackSong">4:55</span>
              <span class="trackArtist">CREAM</span>
            </td>
            <td>
              <a class="modal-syncer js__listBack" data-target="modal-content-0">
                <span class="trackComment">
<i class="material-icons already">comment</i>
</span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- / ここからトラックの説明のモーダルウィンドウ -->
    <div class="modal-content modal__comment" id="modal-content-0">
      <!-- / モーダルウィンドウのコンテンツ開始 -->
      <div class="r__modalContent"></div>
      <div class="l__playlistCore clearfix">
        <div class="playlist__img">
          <div class="l__img">
            <img src="//s3.amazonaws.com/starlistz-bucket-prod/sample_playlist/samplelist_thumb.jpg" alt="Thumb">
          </div>
        </div>
        <div class="playlist__text">
          <span class="modal_song">4:55</span>
          <span class="modal_artist">CREAM</span>
        </div>
      </div>
      <hr>
      <p></p>
      <p>CREAM Visionの初期の頃からCREAMを応援していて何度かLiveも行ってるけど、CREAM Visionで出していた曲〜今までの曲もぉすべてがいい曲ばかり！その中でも最新アルバムの『Sounds Good』が一番好きでこのアルバムでヘビロテしている１曲をチョイスしてみた。このアルバムはほかにも「first love」とか素晴らしい曲がいろいろあるのでぜひチェックしてみて!</p>
      <p></p>
      <!-- / モーダルウィンドウのコンテンツ終了 -->
      <p class="text-center">
        <a class="button-link" id="modal-close">閉じる</a>
      </p>
    </div>
    <div class="l__tracks">
      <table>
        <tbody>
          <tr>
            <td>
            </td>
            <td class="track_no">2</td>
            <td>
              <span class="trackSong">Wanna Get to Know You</span>
              <span class="trackArtist">G-Unit feat Joe</span>
            </td>
            <td>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- / ここからトラックの説明のモーダルウィンドウ -->
    <div class="modal-content modal__comment" id="modal-content-1">
      <!-- / モーダルウィンドウのコンテンツ開始 -->
      <div class="r__modalContent"></div>
      <div class="l__playlistCore clearfix">
        <div class="playlist__img">
          <div class="l__img">
            <img src="//s3.amazonaws.com/starlistz-bucket-prod/sample_playlist/samplelist_thumb.jpg" alt="Thumb">
          </div>
        </div>
        <div class="playlist__text">
          <span class="modal_song">Wanna Get to Know You</span>
          <span class="modal_artist">G-Unit feat Joe</span>
        </div>
      </div>
      <hr>
      <p></p>
      <p></p>
      <p></p>
      <!-- / モーダルウィンドウのコンテンツ終了 -->
      <p class="text-center">
        <a class="button-link" id="modal-close">閉じる</a>
      </p>
    </div>
    <div class="l__tracks">
      <table>
        <tbody>
          <tr>
            <td>
              <span class="favoriteStar">
<i class="material-icons">star_rate</i>
</span>
            </td>
            <td class="track_no">3</td>
            <td>
              <span class="trackSong">EST 4 Life</span>
              <span class="trackArtist">Machine Gun Kelly</span>
            </td>
            <td>
              <a class="modal-syncer js__listBack" data-target="modal-content-2">
                <span class="trackComment">
<i class="material-icons already">comment</i>
</span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- / ここからトラックの説明のモーダルウィンドウ -->
    <div class="modal-content modal__comment" id="modal-content-2">
      <!-- / モーダルウィンドウのコンテンツ開始 -->
      <div class="r__modalContent"></div>
      <div class="l__playlistCore clearfix">
        <div class="playlist__img">
          <div class="l__img">
            <img src="//s3.amazonaws.com/starlistz-bucket-prod/sample_playlist/samplelist_thumb.jpg" alt="Thumb">
          </div>
        </div>
        <div class="playlist__text">
          <span class="modal_song">EST 4 Life</span>
          <span class="modal_artist">Machine Gun Kelly</span>
        </div>
      </div>
      <hr>
      <p></p>
      <p>MGKのアルバムの中でも『EST 4 Life』が一番イケてる。最近のtrapっぽい曲だったりゆったり系も好きだがやっぱりオラオラ系の激しいタイプのrapが好きだからEST 4 Lifeの時の激しい感じが一番タイプ。</p>
      <p></p>
      <!-- / モーダルウィンドウのコンテンツ終了 -->
      <p class="text-center">
        <a class="button-link" id="modal-close">閉じる</a>
      </p>
    </div>
    <div class="l__tracks">
      <table>
        <tbody>
          <tr>
            <td>
            </td>
            <td class="track_no">4</td>
            <td>
              <span class="trackSong">Whatever You Like</span>
              <span class="trackArtist">T.I.</span>
            </td>
            <td>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- / ここからトラックの説明のモーダルウィンドウ -->
    <div class="modal-content modal__comment" id="modal-content-3">
      <!-- / モーダルウィンドウのコンテンツ開始 -->
      <div class="r__modalContent"></div>
      <div class="l__playlistCore clearfix">
        <div class="playlist__img">
          <div class="l__img">
            <img src="//s3.amazonaws.com/starlistz-bucket-prod/sample_playlist/samplelist_thumb.jpg" alt="Thumb">
          </div>
        </div>
        <div class="playlist__text">
          <span class="modal_song">Whatever You Like</span>
          <span class="modal_artist">T.I.</span>
        </div>
      </div>
      <hr>
      <p></p>
      <p></p>
      <p></p>
      <!-- / モーダルウィンドウのコンテンツ終了 -->
      <p class="text-center">
        <a class="button-link" id="modal-close">閉じる</a>
      </p>
    </div>
    <div class="l__tracks">
      <table>
        <tbody>
          <tr>
            <td>
              <span class="favoriteStar">
<i class="material-icons">star_rate</i>
</span>
            </td>
            <td class="track_no">5</td>
            <td>
              <span class="trackSong">Dreams and Nightmares</span>
              <span class="trackArtist">Meek Mill</span>
            </td>
            <td>
              <a class="modal-syncer js__listBack" data-target="modal-content-4">
                <span class="trackComment">
<i class="material-icons already">comment</i>
</span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- / ここからトラックの説明のモーダルウィンドウ -->
    <div class="modal-content modal__comment" id="modal-content-4">
      <!-- / モーダルウィンドウのコンテンツ開始 -->
      <div class="r__modalContent"></div>
      <div class="l__playlistCore clearfix">
        <div class="playlist__img">
          <div class="l__img">
            <img src="//s3.amazonaws.com/starlistz-bucket-prod/sample_playlist/samplelist_thumb.jpg" alt="Thumb">
          </div>
        </div>
        <div class="playlist__text">
          <span class="modal_song">Dreams and Nightmares</span>
          <span class="modal_artist">Meek Mill</span>
        </div>
      </div>
      <hr>
      <p></p>
      <p>MGKと同様強い口調で激しいrapを見せてくれるMeek Millもかなりヤバい。
        <br>その中でもDreams and Nightmaresはリアルなリリックに強い口調でかっこいい中にもなにか考えさせられる曲でした。</p>
      <p></p>
      <!-- / モーダルウィンドウのコンテンツ終了 -->
      <p class="text-center">
        <a class="button-link" id="modal-close">閉じる</a>
      </p>
    </div>
    <div class="l__tracks">
      <table>
        <tbody>
          <tr>
            <td>
            </td>
            <td class="track_no">6</td>
            <td>
              <span class="trackSong">Kissin' on My Tatto</span>
              <span class="trackArtist">August Alsina</span>
            </td>
            <td>
              <a class="modal-syncer js__listBack" data-target="modal-content-5">
                <span class="trackComment">
<i class="material-icons already">comment</i>
</span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- / ここからトラックの説明のモーダルウィンドウ -->
    <div class="modal-content modal__comment" id="modal-content-5">
      <!-- / モーダルウィンドウのコンテンツ開始 -->
      <div class="r__modalContent"></div>
      <div class="l__playlistCore clearfix">
        <div class="playlist__img">
          <div class="l__img">
            <img src="//s3.amazonaws.com/starlistz-bucket-prod/sample_playlist/samplelist_thumb.jpg" alt="Thumb">
          </div>
        </div>
        <div class="playlist__text">
          <span class="modal_song">Kissin' on My Tatto</span>
          <span class="modal_artist">August Alsina</span>
        </div>
      </div>
      <hr>
      <p></p>
      <p>まったりしたい時やイチャイチャしている時に聞いたりするとすごく雰囲気出る♪
        <br>あとVedoTheSingerさんがカバーしているものもありこっちも激アツなのでチェックしてください！</p>
      <p></p>
      <!-- / モーダルウィンドウのコンテンツ終了 -->
      <p class="text-center">
        <a class="button-link" id="modal-close">閉じる</a>
      </p>
    </div>
    <div class="l__tracks">
      <table>
        <tbody>
          <tr>
            <td>
            </td>
            <td class="track_no">7</td>
            <td>
              <span class="trackSong">Insance</span>
              <span class="trackArtist">倖田來未</span>
            </td>
            <td>
              <a class="modal-syncer js__listBack" data-target="modal-content-6">
                <span class="trackComment">
<i class="material-icons already">comment</i>
</span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- / ここからトラックの説明のモーダルウィンドウ -->
    <div class="modal-content modal__comment" id="modal-content-6">
      <!-- / モーダルウィンドウのコンテンツ開始 -->
      <div class="r__modalContent"></div>
      <div class="l__playlistCore clearfix">
        <div class="playlist__img">
          <div class="l__img">
            <img src="//s3.amazonaws.com/starlistz-bucket-prod/sample_playlist/samplelist_thumb.jpg" alt="Thumb">
          </div>
        </div>
        <div class="playlist__text">
          <span class="modal_song">Insance</span>
          <span class="modal_artist">倖田來未</span>
        </div>
      </div>
      <hr>
      <p></p>
      <p>日本のラッパーの方の曲も最近聞くようになったが、倖田來未さんのrap調の曲が結構ハマってる。
        <br>倖田來未さんも結構すきで、『ファイナルファンタジーX-2』の時の「real Emotion / 1000の言葉」からずっと聞いてる。
        <br>以前からrap調の曲はいくつかあるがイチオシは『Insance』！！。
        <br>もぉ女性ラッパーって言ってもいいんじゃないかくらいカッコ良すぎる。</p>
      <p></p>
      <!-- / モーダルウィンドウのコンテンツ終了 -->
      <p class="text-center">
        <a class="button-link" id="modal-close">閉じる</a>
      </p>
    </div>
    <div class="l__tracks">
      <table>
        <tbody>
          <tr>
            <td>
            </td>
            <td class="track_no">8</td>
            <td>
              <span class="trackSong">I'm So Fly</span>
              <span class="trackArtist">Lloyd Banks</span>
            </td>
            <td>
              <a class="modal-syncer js__listBack" data-target="modal-content-7">
                <span class="trackComment">
<i class="material-icons already">comment</i>
</span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- / ここからトラックの説明のモーダルウィンドウ -->
    <div class="modal-content modal__comment" id="modal-content-7">
      <!-- / モーダルウィンドウのコンテンツ開始 -->
      <div class="r__modalContent"></div>
      <div class="l__playlistCore clearfix">
        <div class="playlist__img">
          <div class="l__img">
            <img src="//s3.amazonaws.com/starlistz-bucket-prod/sample_playlist/samplelist_thumb.jpg" alt="Thumb">
          </div>
        </div>
        <div class="playlist__text">
          <span class="modal_song">I'm So Fly</span>
          <span class="modal_artist">Lloyd Banks</span>
        </div>
      </div>
      <hr>
      <p></p>
      <p>G-unitはめちゃめちゃ好き！その中でも断然Lloyd Banksが推し♪
        <br>この低くて癖のある声がなんとも言えないしフローがたまらない。
        <br>Lloyd Banks好きはなかなかいないからどこかにいないかな。</p>
      <p></p>
      <!-- / モーダルウィンドウのコンテンツ終了 -->
      <p class="text-center">
        <a class="button-link" id="modal-close">閉じる</a>
      </p>
    </div>
    <div class="l__tracks">
      <table>
        <tbody>
          <tr>
            <td>
              <span class="favoriteStar">
<i class="material-icons">star_rate</i>
</span>
            </td>
            <td class="track_no">9</td>
            <td>
              <span class="trackSong">Can't Help But Wait</span>
              <span class="trackArtist">Trey Songz</span>
            </td>
            <td>
              <a class="modal-syncer js__listBack" data-target="modal-content-8">
                <span class="trackComment">
<i class="material-icons already">comment</i>
</span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- / ここからトラックの説明のモーダルウィンドウ -->
    <div class="modal-content modal__comment" id="modal-content-8">
      <!-- / モーダルウィンドウのコンテンツ開始 -->
      <div class="r__modalContent"></div>
      <div class="l__playlistCore clearfix">
        <div class="playlist__img">
          <div class="l__img">
            <img src="//s3.amazonaws.com/starlistz-bucket-prod/sample_playlist/samplelist_thumb.jpg" alt="Thumb">
          </div>
        </div>
        <div class="playlist__text">
          <span class="modal_song">Can't Help But Wait</span>
          <span class="modal_artist">Trey Songz</span>
        </div>
      </div>
      <hr>
      <p></p>
      <p>この曲で初めてTrey Songzを知ったが声が綺麗すぎる！し色気がありすぎる！
        <br>Trey Songzは女性必見、笑
        <br>自分はバスケがめちゃくちゃ好きなんだけど、Trey Songzもインスタなんかを見るとバスケが好きなようでバスケ好きな人ももしかしたら少し親近感が湧く、、、かも。笑</p>
      <p></p>
      <!-- / モーダルウィンドウのコンテンツ終了 -->
      <p class="text-center">
        <a class="button-link" id="modal-close">閉じる</a>
      </p>
    </div>
    <div class="l__tracks">
      <table>
        <tbody>
          <tr>
            <td>
            </td>
            <td class="track_no">10</td>
            <td>
              <span class="trackSong">笑顔の作り方~キムチ~</span>
              <span class="trackArtist">足立 佳奈</span>
            </td>
            <td>
              <a class="modal-syncer js__listBack" data-target="modal-content-9">
                <span class="trackComment">
<i class="material-icons already">comment</i>
</span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- / ここからトラックの説明のモーダルウィンドウ -->
    <div class="modal-content modal__comment" id="modal-content-9">
      <!-- / モーダルウィンドウのコンテンツ開始 -->
      <div class="r__modalContent"></div>
      <div class="l__playlistCore clearfix">
        <div class="playlist__img">
          <div class="l__img">
            <img src="//s3.amazonaws.com/starlistz-bucket-prod/sample_playlist/samplelist_thumb.jpg" alt="Thumb">
          </div>
        </div>
        <div class="playlist__text">
          <span class="modal_song">笑顔の作り方~キムチ~</span>
          <span class="modal_artist">足立 佳奈</span>
        </div>
      </div>
      <hr>
      <p></p>
      <p>足立 佳奈ちゃんかわいい、笑
        <br>SNSで短い15秒の短いオリジナル曲の特集をみてハマった。ちなみにオリジナルで好きなのは「すきって言ったら僕もだよ」って曲。題名ないので曲のフレーズだけどめちゃくちゃ可愛い。
        <br>今回セレクトした曲はとにかく元気が出る感じ！落ち込んだり悲しい時これ聞いたら元気が出るかも！！</p>
      <p></p>
      <!-- / モーダルウィンドウのコンテンツ終了 -->
      <p class="text-center">
        <a class="button-link" id="modal-close">閉じる</a>
      </p>
    </div>
  </div>
</div>