.content-container
  %h1
  | 検索結果
  
  %ul.tab
    %li user
    %li list
    
  #user.area
    %h2
      | ユーザー
    - if @search_user != nil
      = render :partial => "header_search/user", locals: {user: @search_user}
      
  #list.area
    %h2
      | プレイリスト
    - if @search_list != nil
      = render :partial => "header_search/list", locals: {list: @search_list}

  = render :partial => "layouts/footer"
