.container-fluid.l-container
  .l__term
    %h2.content-title 利用規約
    %p この規約（以下「本規約」といいます）は、StarListz（以下「当社」といいます）が提供する以下のサービスについての利用条件を定めるものです。
    
    %h3 ■第一章 総則
    %h4 第１条 定義
    %p 本規約において、次の各用語の意味は、当該各号に定めるとおりとします。
    %dl
      %dt ① 「プレイリスト」—特定のテーマに基づき、世界中にある膨大な楽曲の中から特定の複数の楽曲を選定して曲順を定めたリストおよび、その全ての楽曲についての音楽的観点からの解説または感想等を記載した文章からなるコンテンツをいいます。
      %dt 
        ② 「本サイト」—当社が運営するトップページを 
        = link_to "www.starlistz.com", "https://www.starlistz.com/"
        とするウェブサイトをいいます。
      %dt ③ 「本サービス」—当社が「StarListz」の名称で本サイト上で運営するサービス（具体的内容は第四章で規定します）およびこれに関連して当社が提供する全てのサービスをいいます。
      %dt ④ 「利用者」―本サイト、本規約を閲覧している方を含め、本サービスの利用を検討し、現に利用し、または過去に利用したことのあるすべての方をいいます。
    
    %h4 第２条 本規約の適用、個別規約
    %p １. 利用者が本サービスを利用するには本規約に同意することが必要です。利用者は、本サービスを実際に利用することにより、本規約に同意したものとみなされます。
    %p ２．未成年者の利用者は、親権者などの法定代理人に本規約を確認していただき、法定代理人の同意を得た上で本サービスを利用するものとします。当社は、未成年者が本サービスを利用する場合、本規約につき法定代理人の同意があったものとみなすことができるものとします。
    %p ３．当社は、本サービスとは別に、当社の判断にて、随時、個別規約を定めることができるものとします。当社は、個別規約を本サイト上の適宜の場所に掲示するものとし、当該個別規約は、掲示の時点からその効力を有するものとします。本規約と個別規約を総称して、「本規約等」といいます。
    %p ４．本規約と個別規約に矛盾抵触する箇所がある場合、当該箇所については個別規約が優先するものとします。
    
    
    %h4 第３条 本規約等の変更
    %p １．当社は、いつでも予告なく本規約の追加・修正その他の変更をすることができるものとします。
    %p ２．弊社は、変更後の本規約を、本サイト上の適宜の場所に掲示するものとし、変更後の本規約は掲示の時点からその効力を有するものとします。
    %p ３．利用者は、本規約の変更後も本サービスを利用することにより、変更後の本規約に同意したものとみなされます。
    
    
    %h3 ■第二章 会員登録等
    %h4 第４条 会員登録
    %p １．利用者は、以下の条件を満たす場合、当社の所定の方法により会員登録の申込を行うことにより、本サービスの会員として登録され、会員としての資格（以下「会員資格」といいます）を有します。ただし、当社は、裁量により、利用者による申込を拒絶することができ、拒絶の理由を利用者に開示する義務を負わないものとします。
    %dl
      %dt ① 日本に在住していること
      %dt ② 日本語（いわゆる標準語。以下同じ。）を理解し、日本語の読み書きができること
      %dt ③ 満１８歳以上であること。満１８歳以上であって未成年者である場合は、親権者により本規約および本サービスの利用についての包括的な同意を得ていること
      %dt ④ 暴力団等の反社会的勢力である、または反社会的勢力への資金提供その他の関与がないこと
    %p ２．利用者は、会員登録の申込に際し、必要事項について、利用者自身についての正確かつ完全な情報を申告しなければなりません。当社は、事情により、利用者に対し本人確認等のための資料の提出を求めることができるものとします。
    %p ３．利用者は、１人につき、１つの会員登録を行うものとします。１人の利用者が複数の会員登録を行ったり、複数の利用者で１つの会員登録を行うことはできません。
    %p ４．会員は、会員登録の申込に際して申告した事項（以下「登録事項」といいます）に変更のあった場合、すみやかに当社所定の方法により変更手続を行うものとします。変更手続のない場合、当社は、登録事項に変更のないものとして取り扱うことができるものとします。
    
    %h4 第５条 ログイン情報
    %p １．当社は、会員登録した利用者に対して会員として本サイトにログインするためのID・パスワード（以下「ログイン情報」といいます）を付与します。
    %p ２．利用者は、ログイン情報を、自己の責任において厳重に管理するものとします。
    %p ３．会員資格およびログイン情報は利用者の一身専属的なものであり、相続の対象になりません。利用者は、ログイン情報を第三者に利用させたり、売買、譲渡、貸与、質入等をしてはならないものとします。
    %p ４．利用者は、ログイン情報を第三者に使用される、または使用されている疑いがある場合、直ちに当社にその旨を連絡するものとし、当社の指示がある場合にはこれに従うものとします。
    %p ５．当社は、特定の利用者のログイン情報を利用して行われた一切の行為を、当該利用者の行為とみなすことができるものとします。
    
    
    %h4 第６条 会員登録の抹消、退会
    %p １．会員の会員登録が抹消された場合、当社は、当該会員のログイン情報を無効化し、当該会員は会員資格を失います。
    %p ２．会員は、当社所定の退会手続により、自ら、会員登録を抹消することができます。
    %p ３．会員が死亡したことが明らかになった場合、当社は、当該会員の会員登録を抹消します。
    
    %h4 第７条 当社との連絡
    %p １．当社が利用者に対して連絡を行う場合、利用者が申告した電子メールアドレスに宛てて電子メールを送信する方法にて行います。この場合において当該電子メールが当該利用者に到達しなかった場合であっても、当社は、利用者が当社に登録したメールアドレスに電子メールを送信することをもってメールが通常到達すべきときに到達し、利用者がこれを受信したものとみなすことができるものとします。
    %p ２．利用者が当社に対して連絡を行う場合、当社が定める電子メールアドレスに宛てて電子メールを送信する方法にて行うものとします。当社は、返信までにお時間をいただくことがあります。また、以前と重複する内容、極めて些細な事実確認、当社に法的義務のないことを要求する内容等、当社が重要でないと判断した電子メールについては返信しないことがあります。
    %p ３．当社が特に必要と認める場合を除き、当社に対する来訪や電話による連絡は受け付けません。
    
    
    %h3 ■第三章 クリエイター会員
    %h4 第８条 クリエイター会員としての登録
    %p １．会員は、当社の所定の方法によりクリエイター会員登録の申込を行い、当社が特に認めた場合、クリエイター会員として登録され、クリエイター会員としての資格（以下「クリエイター資格」といいます）を有します。
    %p ２．クリエイター会員は、本サイト上の当社の所定のプロフィールページにおいて、自己紹介文やアイコン画像等を掲載することができます。ただし、当社は、以下の事項を掲載することは禁止します。
    %dl
      %dd ① 虚偽の事実、または閲覧者が誤認するおそれのある事項
      %dd ② 必要な範囲を超えた詳細な個人情報、または第三者の個人情報
      %dd ③ 第三者の著作権、肖像権、プライバシー権その他の権利を侵害する事項
      %dd ④ その他、当社が本規約で禁止する事項
    %p ３．本条以降、クリエイター資格を保有しない会員を、クリエイター会員と区別して、「一般会員」と呼ぶことがあります。
    %p ４．第４条の規定は、クリエイター会員について準用します。
    %p ５．クリエイター会員の登録は一般会員としての登録を前提とするものであり、一般会員資格を停止されると当然にクリエイター資格も停止され、一般会員資格を失うと当然にクリエイター資格を失います。他方、クリエイター会員は、一般会員として本サービスを利用することもできます。
    
    
    %h3 ■第四章 本サービスの利用に関して
    %h4 第９条 本サービスの概要
    %p １．本サービスは、クリエイター会員がプレイリストを制作し、これを一般会員に対し本サイト上で販売し、一般会員が購入することができるサービスです（ここでいう「販売」「購入」の意義は次条にて規定）。
    %p ２．当社は、プレイリストの取引の機会（インターネット上の場所の提供。いわゆるプラットフォーム）を提供するにすぎず、プレイリストの取引の当事者となるものではありません。
    
    %h4 第１０条 「販売」「購入」「代金」の意義
    %p １．本規約にいうプレイリストの「販売」とは、一定の対価のもと、クリエイター会員が保有するプレイリストに係る著作権につき、以下の利用許諾を行うことを意味します。
    %dl
      %dd ① 非独占的な利用許諾である。
      %dd ② 利用許諾を受けた者は、当該プレイリストを任意にダウンロードし、当該本人に限り、私的・非商用で利用することができる。
      %dd ③ 前号の利用方法である限り、利用許諾の地域、期間に制限はない。
      %dd ④ 利用許諾を受けた者は、第三者に利用許諾を行うことはできず、また、当該プレイリストを複製・公衆送信その他の方法により第三者に共有することはできない。
    %p ２．本規約にいうプレイリストの「購入」とは、一定の対価のもと、クリエイター会員が保有するプレイリストに係る著作権につき、前項の利用許諾を受けることを意味します。
    %p ３．上記利用許諾の対価を、本規約上、「代金」と呼びます。
    
    %h4 第１１条 プレイリストの制作および販売
    %p １．クリエイター会員は、自ら制作したプレイリストを、当社所定の販売手続を経ることにより、本サイト上で販売することができます。ただし、当社は、プレイリストの最低楽曲数、最低文字数その他プレイリストの制作・販売に関する条件を指定することができるものとします。
    %p ２．クリエイター会員は、以下のいずれかに該当するプレイリストを制作または販売してはならないものとします。当社は、以下のいずれかに該当すると判断した場合、当該クリエイター会員に対しプレイリストの修正を求め、販売を停止し、または第１９条記載の措置を取ることができるものとします。
    %dl
      %dd ① 当該クリエイター会員以外の第三者に制作をさせる行為、または第三者と共同で制作したもの
      %dd ② 既に存在するプレイリストと同一または類似するプレイリストを作成するもの、その他、第三者の著作権を侵害するもの
      %dd ③ アーティストその他第三者の名誉を毀損し、または侮辱的・中傷的な表現を含むもの
      %dd ④ 猥褻、暴力的、差別的、または反社会的勢力を賛美する内容の表現を含むもの
      %dd ⑤ 当社の指定する条件を満たさないもの
      %dd ⑥ 本規約上の禁止行為に該当するもの
      %dd ⑦ その他、当社が不適切と判断するもの
    %p ３．クリエイター会員が設定する代金には、消費税が含まれているものとします。
    
    
    %h4 第１２条 プレイリストの購入
    %p １．一般会員は、当社所定の方法により、本サイト上でクリエイターが販売するプレイリストの一部を閲覧し、任意のプレイリストを購入することができます。
    %p ２．代金の支払を含む購入手続が完了したのち、当社所定の方法により、当該プレイリストのダウンロードが可能となります。
    %p ３．一般会員もクリエイター会員も、プレイリストを購入した後に、キャンセル・解除・返品その他契約の取消・無効を主張することはできません
    
    
    %h3 ■第五章 決済
    %h4 第１３条 代理受領権限の付与
    %p １．プレイリストを販売するクリエイター会員（以下「販売者」といいます）は、当社の指定する決済事業者（Stripe, Inc.またはその関連会社。以下、「指定決済事業者」といいます）に対し、プレイリストを購入する者（以下「購入者」といいます）から支払われる代金を代理受領する権限を付与するものとします。
    %p ２．販売者は、本サービスの決済が指定決済事業者が定める利用規約その他の規約（以下「指定決済事業者の規約等」といいます）に服すること、指定決済事業者の所定の手続により実行されることを承諾するものとします。
    %p 
      ３．販売者は、指定決済事業者のウェブサイト（
      = link_to "https://stripe.com/jp", "https://stripe.com/jp"
      ）より指定決済事業者の規約等を確認するものとします。
    
    
    %h4 第１４条 決済手続
    %p １．会員がプレイリストを購入する際の代金は、指定決済事業者に対して支払うものとします。
    %p ２．前項の支払により、購入者の販売者に対する代金支払債務は有効に消滅します。
    %p ３．購入者は、決済手続に使用するクレジットカードの発行会社の利用規約や利用条件に従うものとし、必ず本人名義のクレジットカードを使用するものとします。
    %p ４．購入者は、販売者に対し直接に代金を支払ってはならず、これをもって当社による請求を拒絶できないものとします。
    
    %h4 第１５条 決済手数料、プラットフォーム手数料
    %p １．指定決済事業者が徴収する決済手数料は、プレイリストの販売者が負担するものとします。
    %p ２．販売者は、当社に対し、プラットフォーム手数料として、プレイリストの販売による代金（売上）の１０％（税込）を負担するものとします。
    %p ３．販売者は、指定決済事業者から販売者に対する送金から、前２項の決済手数料およびプラットフォーム手数料が予め差し引かれることを承諾するものとします。
    
    
    %h4 第１６条 送金手続
    %p １．販売者は、指定決済事業者の所定の手続により、指定決済事業者が代理受領した代金（予め決済手数料およびプラットフォーム手数料が差し引かれた金額）の送金を受けることができます。送金を受けるための具体的方法や条件は、全て指定決済事業者の規約等によります。
    %p ２．当社は、指定決済事業者の定める送金の具体的方法や条件に一切関与せず、指定決済事業者の送金の遅延や不履行につき何らの責任を負いません。
    
    
    %h3 ■第四章 本サービスの運営に関して
    %h4 第１７条 本サービスに関する知的財産権
    %p １．本サイトおよび本サービスに関する著作権その他の一切の知的財産権は当社に帰属します。
    %p ２．プレイリストは、編集著作物（著作権法第１２条１項）として著作権法上の保護の対象となります。プレイリストの著作権は、プレイリストを制作した各クリエイター会員に帰属します。
    %p ３．当社は、クリエイター会員がプロフィールページに掲載した内容（アイコン、自己紹介文等）およびプレイリストの一部を、本サービスの広告・宣伝目的に限り、期限なく無償で利用（複製、放送、公衆送信、翻案等）することができるものとします。
    
    %h4 第１８条 プレイリストの著作権に関する表明保証等
    %p １．クリエイター会員は、以下の事項を表明し保証するものとします。
    %dl
      %dd ① 本サービスで販売するプレイリストが、自ら単独で制作したものであり、かつ第三者の著作権その他の権利を侵害するものでないこと
      %dd ② 本サービスでプレイリストを販売する前に、プレイリストの著作権の全部または一部を第三者に譲渡または利用許諾していないこと
    %p ２．クリエイター会員は、ひとたび本サービス上で販売手続を経た（まだ購入者がいない場合も含みます）プレイリスト（以下、「本サービス上のプレイリスト」といいます）またはこれと実質的に同一ないし類似するプレイリストを、本サービス以外の方法にて、その著作権の全部または一部を第三者に譲渡または利用許諾をしてはなりません。
    %p ３．クリエイター会員は、本サービス外はもちろん、本サービスにおいても、本サービス上のプレイリストと実質的に同一ないし類似のプレイリストを新規のプレイリストとして販売してはなりません。ただし、「実質的に同一または類似」であることを明記して本サービスにおいて販売する場合はこの限りではありません。
    
    
    %h4 第１９条 必要な措置
    %p １．当社は、会員が以下のいずれかに該当する場合またはそのおそれがあると当社が判断した場合、事前の通知なく、当該会員に対して、掲載内容の削除、本サービスの利用停止、会員登録の抹消その他必要な措置を行うことができるものとします。
    %dl
      %dd ① ログイン情報を不正に利用し、もしくは不正に利用させた場合、または不正利用されている場合
      %dd ② 当社所定の会員登録の条件を満たさない場合
      %dd ③ 当社からの連絡に対し、一定期間、回答がない場合
      %dd ④ 当社の定める一定期間内に本サービスの利用がない場合
      %dd ⑤ 本規約等に違反した場合
      %dd ⑥ その他、会員として不適切である場合
    %p ２．当社は、会員に対して、前項の措置の理由を開示する義務を負わないものとします。
    
    
    %h4 第２０条 禁止事項
    %p 当社は、本サービスの利用にあたって、利用者が以下のいずれかに該当する行為または該当するおそれのある行為を行うことを禁止します。
    %dl
      %dd ① 当社もしくは第三者の名誉、プライバシー権、もしくは知的財産権その他の権利・利益を侵害し，または事実上の不利益を与える行為
      %dd ② 本サービスを介さずに直接取引を行う行為、または直接取引を勧誘しもしくは勧誘に応じる行為（本サービスで取引を開始した会員と再度プレイリストに関する取引を行う場合を含みます）
      %dd ③ 侮辱的・中傷的な表現、猥褻・暴力的もしくは他の利用者に不快を与える表現、または人種・信条・性別・職業その他に関する差別的表現、反社会的勢力を賛美する内容の表現をする行為
      %dd ④ サーバーまたはネットワークに過度の負担をかける、他の利用者のアクセスを妨害する等、本サービスの運営を妨害する行為
      %dd ⑤ 第三者になりすまして、または別の第三者であると誤認させるような表示をして本サービスを利用する行為
      %dd ⑥ 本サービスまたは当社の業務内容等を調査する目的で本サービスを利用する行為
      %dd ⑦ 本サービスのスポンサーその他第三者に対して、電話・電子メールその他の手段により本サービスに関するクレーム・意見を述べ、または業務を妨害する行為
      %dd ⑧ その他、法令もしくは公序良俗に違反し、または本規約に違反する行為
      %dd ⑨ その他、随時、当社が利用者に対して禁止を通知する行為
    
    %h4 第２１条 本サイトの監視
    %p 当社は、本サイト上に法令または本規約に違反する行為が存在しないかを調査するため、本サイト上の全ての箇所を監視できるものとします。
    
    
    %h4 第２２条 個人情報等の取り扱いについて
    %p 
      本サービスにおいて当社が取得した利用者の個人情報は、当社のプライバシーポリシー(
      = link_to "https://www.starlistz.com/privacy", "https://www.starlistz.com/privacy"
      )に基づいて取り扱います。
    
    
    %h4 第２３条 本サービス一時的な中断、内容の変更等、終了
    %p １．当社は、下記に該当する場合には、利用者に通知することなく、一時的に本サービスを中断する場合があります。
    %dl
      %dd ① システム（通信回線や電源、それらを収容する建築物等を含む）の保守、点検、修理、変更を定期的にまたは緊急に行う場合
      %dd ② 天災、停電その他不測の事態により本サービスの提供ができなくなった場合
      %dd ③ その他、当社が本サービスの一時的な中断を必要と判断した場合
    %p ２．当社は、サービスの改善・メンテナンスその他の都合により、利用者に通知することなく、本サービスの内容の変更、または本サービスを停止・中止する場合があります。
    %p ３．当社は、都合により、利用者に通知することなく、本サービスを終了する場合があります。
    
    %h3 ■第五章 法的責任等
    %h4 第２４条 損害賠償
    %p １．利用者が本規約等に違反した行為、または不正もしくは違法な行為によって当社に損害を与えた場合、利用者は、当社が被った損害（直接損害のみならず間接損害および合理的な範囲での弁護士費用も含みます）を賠償する責任を負います。
    %p ２．利用者が本サービスの利用に関して、他の利用者や第三者に対して損害を与え、またはこれらの者からクレームを受け、またはこれらの者との間で紛争が生じた場合は、利用者は自己の責任と費用をもって解決し、当社に損害や事実上の不利益を被らせないものとします。
    
    %h4 第２５条 免責事項
    %p １． 本サービスは、利用者同士でプレイリストを取引する機会を提供するにすぎず、プレイリストの取引の契約当事者となるものではありません。したがって、当社は、プレイリストの具体的内容その他の個々の取引条件を関知せず、取引の対象となったプレイリストの品質や瑕疵の不存在等を何ら保証するものではありません。同様に、プレイリストの販売者の信頼性についても何ら保証するものではありません。当社は、プレイリストの取引の契約（成立、不履行、取消、解除等）について一切の責任を負いません。
    %p ２．当社は、本サイト上に掲載されている情報のうち、プロフィールに掲載されている情報、広告等のリンク先の情報等、当社以外の者が提供・掲載する情報について、その正確性、適法性・安全性につき、一切の責任を負いません。
    %p ３．当社は、本規約に基づく当社の措置その他本サービスに関する運営につき、利用者に何らかの損害が発生したとしても、一切の責任を負いません。
    %p ４．当社は、利用者が本規約に違反したこと、当社の指示または本規約に従わなかったことにより利用者に生じた損害について、一切の責任を負いません。
    %p ５．当社は、本サービスに関して利用者同士または利用者と第三者との間で何らかの紛争が生じたとしても、何ら関与せず、一切の責任を負いません。
    %p ６．当社は、利用者が本サイトを利用する際に、コンピュータウイルス等の有害なプログラム等による損害を受けないことを保証するものではなく、これらによる損害について一切の責任を負いません。
    %p ７．当社は、本サービスに関する一切の情報につき、利用者に対して保存義務を負うものではなく、また、保存内容の正確性について何ら保証しません。
    %p ８．本条各号にもかかわらず、本サービスに関して当社が利用者に対し損害賠償責任を負う場合、当社は、当該会員に対し、直接損害の範囲内において、当該会員についてが当社が受領したプラットフォーム手数料の総額を上限として、損害を賠償します。
    %p ９．本条各号は利用者に対する当社の責任の全てを記載したものであり、当社は、いかなる場合においても、利用者の実費、逸失利益、間接損害、特別損害、弁護士費用その他の本条に記載のない損害を賠償する義務を負わないものとします。
    
    %h3 ■第六章 その他の条項
    %h4 第２６条 分離可能性
    %p 万一、法的機関において、本規約等のいずれかの条項（またはその一部）が無効と判断された場合であっても、当該条項（またはその一部）を除く本規約等の他の部分の有効性に影響を生じないものとします。
    
    %h4 第２７条 権利義務の処分禁止
    %p １．利用者は、利用者としての地位または本規約に基づく権利義務について、第三者に対して譲渡、担保設定その他の処分をすることはできません。
    %p ２．当社は、本サービスにかかる事業を第三者に譲渡することがあります。この場合、当該事業譲渡に伴い、契約上の地位、本規約に基づく権利義務および利用者の登録情報その他の企業情報・個人情報を当該事業譲渡の譲受人に譲渡ないし承継させることができるものとします。なお、本項にいう事業譲渡には、会社法上の事業譲渡のみならず、会社分割その他事業が移転するあらゆる場合を含むものとします。
    
    %h4 第２８条 準拠法・管轄裁判所
    %p １．本規約等に関する準拠法は日本法とします。
    %p ２．本サービスに関し、利用者と当社との間で紛争が生じた場合、東京地方裁判所を第一審の専属的合意管轄裁判所とします。    
    

    %p ２０１８年 １２月 １日 制定
    
    