
.l__tokutei
    %h2.content-title 特定商取引法に基づく表記
    %h3 販売事業者
    %p StarListz

    %h3 代表者
    %p 池田　貴尚

    %h3 メールアドレス
    %p=Constants::SUPPORT_MAIL

    %h3 住所
    %p=Constants::COMPANY_ADDRESS

    %h3 電話番号
    %p=Constants::COMPANY_TELL
    %p
        ※お取引やサービスについてのお問い合わせは電話では受け付けておりません
        %br/
        大変申し訳ありませんが、お問い合わせについては「お問い合わせ」フォームよりご連絡をいただき対応させていただいております。ご不便をおかけいたしますが、ご理解ご協力をよろしくお願いいたします。


    %h3 販売価格（サービスの対価）
    %p プラットフォーム手数料として、利用規約第15 条にて記載

    %h3 支払時期、支払方法
    %p 購入者からの入金があり次第、決済事業者（stripe）が同社の所定の手続により、当社アカウントに支払います。
    %p 決済事業者による具体的な決済の方法は、stripe のウェブサイトをご覧ください。
    = link_to "（https://stripe.com/jp）", "https://stripe.com/jp"

    %h3 販売価格（サービスの対価）以外に利用者が負担すべき金銭
    %p 決済事業者の決済手数料 決済代金の3.6％

    %h3 引渡し時期
    %p 即時

    %h3 返品・交換について
    %p 不可


