.container-fluid.l-container
  .text-container
    %h2.content-title 特定商取引法に基づく表記
    %h3.border-left 運営
    %p StarListz

    %h3.border-left 販売価格
    %p サイト上およびアプリ内の各コンテンツの購入ページに表示している金額です。
    %p サービスの対価以外でお客様に発生する金銭 
    %p ご利用の際に必要となる通信料はお客様のご負担となります。
    
    %h3.border-left 支払い方法
    %p クレジットカード(各種取引に必要な手数料はお客様負担となります)
    
    %h3.border-left 支払時期
    %p 請求先情報の入力画面にて、クレジットカード払いにおける必要情報を入力し、購入確定時に決済を行います。
    
    %h3.border-left 提供時期
    %p サイト内に表示する方法によるお支払方法の手続きが完了し次第、すぐにご利用いただけます。
    
    %h3.border-left 返品・キャンセルについて
    %p インターネットサービスの性質上、返品・交換はございません。
    
    %h3.border-left 提供時期
    %p サイト内に表示する方法によるお支払方法の手続きが完了し次第、すぐにご利用いただけます。
    
  / Main
  %article#main


  = render :partial => "layouts/footer"
