// A set of walkthrough screens in HTML/CSS/JS. A personal experiment with layering images, CSS3 transitions, & flexbox. 
.contentMain
  // %button.open-walkthrough Start
  .walkthrough.showframe.reveal
    .walkthrough-pagination
      %a.dot.active
      %a.dot
      %a.dot
      %a.dot
      // %a.dot
    .walkthrough-body
      %ul.screens.animate

        %li.screen.active
          // .media.logo
          //   %img.logo{src: "https://s3.amazonaws.com/jebbles-codepen/icon.png"}
          // %h3
          //   Product Intro
          //   %br Walkthrough
          // %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
          %img.pc{:src => "/images/onboard_1.png"}
          %img.sp{:src => "/images/onboarding_mb_1.png"}
          
        %li.screen
          // .media.books
          //   %img.icon{src: "https://s3.amazonaws.com/jebbles-codepen/book_icon_1.png"}
          //   %img.icon{src: "https://s3.amazonaws.com/jebbles-codepen/book_icon_2.png"}
          //   %img.icon{src: "https://s3.amazonaws.com/jebbles-codepen/book_icon_3.png"}
          // %h3
          //   Data and File
          //   %br Management
          // %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
          %img.pc{:src => "/images/onboard_2.png"}
          %img.sp{:src => "/images/onboarding_mb_2.png"}
          
        // %li.screen
        //   .media.bars
        //     %img.icon{src: "https://s3.amazonaws.com/jebbles-codepen/bar_icon_axis.png"}
        //     %img.icon{src: "https://s3.amazonaws.com/jebbles-codepen/bar_icon_3.png"}
        //     %img.icon{src: "https://s3.amazonaws.com/jebbles-codepen/bar_icon_2.png"}
        //     %img.icon{src: "https://s3.amazonaws.com/jebbles-codepen/bar_icon_1.png"}

        //   %h3
        //     Analytics
        //     %br and Metrics
        //   %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.

        // %li.screen
        //   .media.files
        //     %img.icon{src: "https://s3.amazonaws.com/jebbles-codepen/file_icon_1.png"}
        //     %img.icon{src: "https://s3.amazonaws.com/jebbles-codepen/file_icon_2.png"}
        //     %img.icon{src: "https://s3.amazonaws.com/jebbles-codepen/file_icon_3.png"}
        //     %img.icon{src: "https://s3.amazonaws.com/jebbles-codepen/file_icon_4.png"}
        //   %h3
        //     Reporting
        //     %br and Insights
        //   %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.

        %li.screen
          // .media.comm
          //   %img.icon{src: "https://s3.amazonaws.com/jebbles-codepen/comm_icon_1.png"}
          //   %img.icon{src: "https://s3.amazonaws.com/jebbles-codepen/comm_icon_2.png"}
          // %h3
          //   Communications
          //   %br Tools
          // %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
          %img.pc{:src => "/images/onboard_3.png"}
          %img.sp{:src => "/images/onboarding_mb_3.png"}
        
        %li.screen
          %img.pc{:src => "/images/onboard_4.png"}
          %img.sp{:src => "/images/onboarding_mb_4.png"}
          
      %button.prev-screen
        %i.material-icons arrow_back_ios
      %button.next-screen
        %i.material-icons arrow_forward_ios

    .walkthrough-footer
      %button.button.next-screen 次へ
      // %button.button.finish.close{disabled: "true"} 閉じる
      = button_tag type: 'button', onclick: "location.href='./'", class: "button finish"  do
        閉じる
      
      
/
  Copyright (c) 2019 by Jeff Ham (https://codepen.io/jebbles/pen/MKoYya)
  
  Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
  
  The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
  
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

