%p 下記ユーザーが退会しました
%br/
%p -----------------------------------------------------------------------
%dl
  - if @current_user.nil?
    ログインユーザーが空です
  - else
    %dt ＜ユーザー名＞
    %dd= @current_user.name
    %dt ＜ユーザー メールアドレス＞
    %dd= @current_user.email
  %dt ＜退会理由＞
  %dd= @contact.message
%br/
%br/

%p -----------------------------------------------------------------------
