= render :partial => "searches/search_header"
.sc
    .l-tabbox
        .listgenre_area
            - if @search_listgenre != nil and not @search_listgenre.empty?
                // = render 'home/genre_partial/genrelist', tag: @genrelist_pages
                - @genrelist_pages.each.with_index(0) do |listgenre, i|
                    %span.genretag
                        = listgenre
            -if @search_listgenre != nil
                #listgenre_paginator
                    = paginate @genrelist_pages, param_name: 'genrelist_page'