= render :partial => "searches/search_header"
.sc
    .l-tabbox
        .playlist_area
            - if @search_list != nil and not @search_list.empty?
                = render "lists/list", lists: @list_pages, customer: @customer
            -if @list_pages != nil
                #list_paginator
                    = paginate @list_pages, param_name: 'list_page'