= render :partial => "searches/search_header"
.sc
    .l-tabbox
        .usergenre_area
            - if @search_usergenre != nil and not @search_usergenre.empty?
                = render 'home/genre_partial/genrelist', tag: @genreuser_pages
            -if @search_usergenre != nil
                #usergenre_paginator
                    = paginate @genreuser_pages, param_name: 'genreuser_page'