// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

    .sc , .container-fluid .sc{
    padding:20px 30px;
    }
    h2.h-tit{
    margin:0 0 30px;
    }
/*  TopPage */

    .content-area{
        margin:100px 0;
        .genre-item{
            font-weight:bold;
        }
    }

    .genre-item{
        text-align:center;
        p{
            border-bottom: solid 1px #E6E6E6;
        }
    }

    .content-area{
        .newlist{
            background-color:#fff;
            box-shadow: 0 8px 15px rgba(123,138,147,.15);
            margin:30px 0;
            .inner-list{
                padding:20px;
            }

            h2 .favorite{
                display: block;
                margin-bottom: .2em;
                span {
                    font-size: 0.5em;
                }
                .author{
                    color: #aaa;
                }
                .favorite-star{
                    margin-left:10px;
                    .fa-favorite{
                        color:#a6b30a;
                    }
                }
            }
        }
        .btn-info {
            margin-right:15px;
            text-transform:uppercase;
            padding:10px;
            display:block;
            float:left;
        }
        .btn-info a {
            display:block;
            text-decoration:none;
            width:100%;
            height:100%;
            color:#fff;
        }
        .more.label {
            float:right;
        }
    }

/*  Chart */
    .charts_aria{
        display:flex;
        width:50%;
        .charts_spacer {
            -webkit-flex-grow: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
        }
    }



