// Place all the styles related to the Lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//曲のお気に入り設定　チェックボックスを画像に変更
.custom-check-box {
    display: none;
    vertical-align: middle;
    
    & + label:before{
        font-family:Material Icons;
        content:"\e83a";
        padding: 0 ;
        vertical-align: middle ;
        cursor: pointer;
        font-size:22px;
        color: #666666;
    }
     
    &:checked + label:before {
        color:#e3e176;
        font-family:Material Icons;
        content:"\e838";
    }
}
.list_tracks_recommend {
    color: #666666;
    font-weight:700;
    label{
        font-size: 12px;
    }
}


#tool-btn{
    display: inline-block;
}
#tool-btn a {
    position: relative;
    display: block;
    float: left;
    // width:100px;
    margin: 10px;
    padding: 0 10px 0 50px;
    color: #fff;
    text-decoration: none;
    text-align:center;
    line-height: 40px;
}
#tool-btn .btn1 {
    background: #282748;
    @media only screen and (max-width: 767px) {
        font-size: 10px;
    }
}
#tool-btn .btn2 {
    background: #FF0000;
    @media only screen and (max-width: 767px) {
        font-size: 10px;
    }
}
#tool-btn .btn1 i {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    margin: 0;
    background: #fff;
    color: #282748;
    line-height: 40px;
    text-align: center;
}
#tool-btn span {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    margin: 0;
    background: #fff;
    color: #181739;
    line-height: 40px;
    text-align: center;
}
#tool-btn img {
    width: 20px;
    height: 14px;
    margin: 0;
    line-height: 40px;
    text-align: center;
}
#tool-btn a:hover i { background: #9b99c3; }
#tool-btn a:hover span { background: #e09292; }

// SNSシェアボタン
.it-Footer_social{
    text-align: right;
    max-width: 580px;
    margin:30px auto;
}
.SocialMediaShareButton{
    display: inline-block;
    margin: 0 20px;
}
svg.social-icon circle{
    fill: #aaa;
}
  

// プレイリストの説明140文字以上は続きを表示のデザイン
.grad-wrap {
    position: relative;
}
.grad-btn {
    z-index: 2;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 148px;
    margin: auto;
    padding: .3em 0;
    border-radius: 2px;
    background: #18183a;
    color: #fff;
    text-align: center;
    cursor: pointer;
    transition: .2s ease;
    box-shadow: 0 0 3px rgba(0,0,0,.3);
    i {
        vertical-align: middle;
    }
}
.grad-btn::after {
  content: "続きを読む"
}
.grad-item {
  position: relative;
  overflow: hidden;
  height: 80px; /*隠した状態の高さ*/
}
.grad-item::before {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px; /*グラデーションで隠す高さ*/
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #fff 100%);
  background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #fff 100%);
  content: "";
}
.grad-trigger {
  display: none; /*チェックボックスは常に非表示*/
}
.grad-trigger:checked ~ .grad-btn {
  bottom: -2.5em;
}
.grad-trigger:checked ~ .grad-btn i {
    transform: rotate(180deg);
}
.grad-trigger:checked ~ .grad-btn::after {
  content: "閉じる" /*チェックされていたら、文言を変更する*/
}
.grad-trigger:checked ~ .grad-item {
  height: auto; /*チェックされていたら、高さを戻す*/
}
.grad-trigger:checked ~ .grad-item::before {
  display: none; /*チェックされていたら、grad-itemのbeforeを非表示にする*/
}