// Place all the styles related to the Lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//曲のお気に入り設定　チェックボックスを画像に変更
.custom-check-box {
    display: none;
    vertical-align: middle;
    
    & + label:after {
    content: "\f005";
    padding: 0 10px;
    display: inline-block;
    vertical-align: middle ;
    cursor: pointer;
    display: inline-block;
    font-family:FontAwesome;
    font-size:22px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #ddd;
    }
     
    &:checked + label:after {
    color:#b6eb34;
    }
}
.list_tracks_recommend {
color:#ccc;
font-weight:700;
label{
font-size: 12px;
}
}