StarListz へようこそ！
%br/
%br/
StarListzへのユーザー登録のご案内です。
%br/
以下のURLをクリックすると、本登録が完了します。
%br/
%br/
%p= link_to confirmation_url(@resource, confirmation_token: @token), confirmation_url(@resource, confirmation_token: @token)
%br/
%br/
※このURLをクリックしていただかないと、本登録が完了しません。必ずこのURLをクリックしてお進みください。
%br/
%br/
※このご案内メールは自動で送信されています。
%br/
クリック有効時間(メール送信から24時間)を過ぎますと、ご登録をお受けすることができません。
%br/
本メールにご返信をいただきましてもご質問等にはお答えできません。
%br/
%br/
%br/
※このメールはStarListzにユーザー登録して頂いた方へお送りしています。
%br/
このメールにお心当たりの無い場合は、他のどなたかが、このメールアドレスを間違って入力した可能性があります。
%br/
大変お手数ですが、以下の問合せ先までお知らせください。
%br/
%br/
━━━━━━━━━━━━━━━━━━━━
%br/
お問い合わせ
%br/
　= Constants::SUPPORT_MAIL
%br/
StarListz
%br/
　= Constants::HP_URL
%br/
